<div class="container my-5">
    <div class="mad-banners item-col-4">
        <div class="mad-col">
            <a href="pages_services.html" class="mad-banner">
                <div class="mad-banner-content">
                    <div class="mad-banner-aligner">
                        <h3 class="mad-banner-title">Help Build Hawaii’s First Pediatric Respite and Hospice Home
                        </h3>
                        <p> Join us in creating a home where Hawaii’s keiki and their ‘ohana can find rest, healing
                            and
                            hope.</p>
                        <div class="btn btn-big style-3">
                            <span>Donate</span><i class="icon"><img src="charity_icons_svg/heart.svg" alt="" /></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="mad-col">
            <a href="/volunteer/" class="mad-banner banner-3">
                <div class="mad-banner-content">
                    <h3 class="mad-banner-title"> Be the Heart Behind Hale Anelalani </h3>
                    <p> Volunteer your time, talent or treasure to help us build a place where children are
                        surrounded by love and families find comfort and peace.</p>
                    <div class="btn btn-big"><span>Learn How to Volunteer</span><span class="icon material-icons">
                            arrow_forward_ios
                        </span></div>
                </div>
            </a>
        </div>
    </div>
</div>