<footer id="mad-footer" class="">
    <!--================ Footer row ================-->
    <div class="container">
        <div class="mad-footer-main">
            <div class="row justify-content-between vr-size-1 hr-size-1">
                <div class="col-xl-3 col-lg-6 col-sm-12">
                    <!--================ Widget ================-->
                    <section class="mad-widget">
                        <a href="index.html" class="mad-logo content-element-3"><img src="/images/content/logo2.png"
                                alt="" /></a>
                        <a href="pages_contact_v1.html" class="btn style-2"><span>Support Our Mission</span><i><img
                                    img src="/charity_icons_svg/btn_dir.svg" alt="" /></i></a>
                    </section>
                    <!--================ End of Widget ================-->
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-6">
                    <!--================ Widget ================-->
                    <section class="mad-widget">
                        <h6 class="mad-widget-title">Site Map</h6>
                        <ul class="mad-vr-list">
                            <li><a href="/our-story/">Our Story</a></li>
                            <li><a href="/our-story/#our-ohana">Our Ohana</a></li>
                            <li><a href="/volunteer/">Volunteer</a></li>
                        </ul>
                    </section>
                    <!--================ End of Widget ================-->
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-6">
                    <!--================ Widget ================-->
                    <section class="mad-widget">
                        <h6 class="mad-widget-title">Family Stories</h6>
                        <ul class="mad-vr-list">
                            <li><a href="/read-davins-story/">Davin's Story</a></li>
                            <li><a href="/read-skaylars-story/">Skylar's Story</a></li>
                            <li><a href="/read-aspens-story/">Aspen's Story</a></li>
                            <li><a href="/read-pikis-story/">Piki's Story</a></li>
                        </ul>
                    </section>
                    <!--================ End of Widget ================-->
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-6">
                    <!--================ Widget ================-->
                    <section class="mad-widget">
                        <h6 class="mad-widget-title">Our Care</h6>
                        <ul class="mad-vr-list">
                            <li><a href="/providing-respite-care/">Respite Care</a></li>
                            <li><a href="/providing-therapeutic-activities/">Therapeutic Activities</a></li>
                            <li><a href="/providing-community-engagement/">Community Engagement</a></li>
                            <li><a href="/providing-end-of-life-care/">End of Life Care</a></li>
                            <li><a href="/providing-bereavement-support/">Bereavement Support</a></li>
                        </ul>
                    </section>
                    <!--================ End of Widget ================-->
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <!--================ Widget ================-->
                    <section class="mad-widget">
                        <h6 class="mad-widget-title">Contact Us</h6>
                        <ul class="mad-vr-list mad-map-info">
                            <li>
                                <img img src="/charity_icons_svg/location.svg" alt="" class="svg" />
                                <span>Honolulu HI <a href="pages_contact_v1.html" class="mad-link">Get Directions</a>
                                </span>
                            </li>
                            <li>
                                <img img src="/charity_icons_svg/clock.svg" alt="" class="svg" />
                                <span>Monday - Friday: 9AM - 5PM</span>
                            </li>
                            <li>
                                <img img src="/charity_icons_svg/phone.svg" alt="" class="svg" />
                                <span> +1 808 555 1234 </span>
                            </li>
                            <li>
                                <img img src="/charity_icons_svg/email.svg" alt="" class="svg" />
                                <a href="pages_contact_v1.html">info@haleanelalani.com</a>
                            </li>
                        </ul>
                    </section>
                    <!--================ End of Widget ================-->
                </div>
            </div>
        </div>
        <p class="copyrights mt-5">Copyright © 2026 <a href="index.html">Hale Anelalani</a>. All Rights Reserved.</p>
    </div>
    <!--================ End of Footer row ================-->
</footer>