<header id="mad-header" class="mad-header">
    <div class="mad-header-section--sticky-xl">
        <div class="container-fluid">
            <div class="mad-header-items">
                <div class="mad-header-item">
                    <a href="/" class="mad-logo"><img src="/images/content/logo.png" alt=""
                            style="height:80px" /></a>
                </div>
                <div class="mad-header-item">
                    <nav class="mad-navigation-container">
                        <ul class="mad-navigation mad-navigation--vertical-sm">
                            <li class="menu-item current-menu-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">What We Offer</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="/providing-respite-care/">Respite Care</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/providing-end-of-life-care/">End of Life Care</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/providing-bereavement-support/">Bereavement Support</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/providing-community-engagement/">Community Engagement</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/providing-therapeutic-activities/">Therapeutic Activities</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="/our-story/">Our Story</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="/our-story/">Our Mission & Vision</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/team-joline-murillo/">Ohana Members</a>
                                    </li>
                                    <!-- <li class="menu-item">
                                        <a href="/our-hale/">Tour Our Hale</a>
                                    </li> -->
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="/family-stories/">Family Stories</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="/read-davins-story/">Davin's Story</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/read-skaylars-story/">Skylar's Story</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/read-aspens-story/">Aspen's Story</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/read-pikis-story/">Piki's Story</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="/our-hale/">Our Hale</a>
                            </li>
                            <li class="menu-item">
                                <a href="/volunteer/">Volunteer</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="mad-actions">
                        <div class="mad-col">
                            <a href="pages_donate.html" class="btn btn-big"><span>Donate</span> <i class="icon"><img
                                        src="/charity_icons_svg/heart.svg" alt="" /></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>