<div class="mad-section mad-section--stretched-content mad-colorizer--scheme-color-">
    <div class="mad-texture-holder">
        <span class="mad-img-texture2 bg-move"><img src="/images/texture_move2.svg" alt="" class="svg" /></span>
        <span class="mad-img-texture3 bg-move"><img src="/images/texture_move5.svg" alt="" class="svg" /></span>
    </div>
    <div class="container">
        <div class="mad-title-wrap align-center">
            <div class="mad-pre-title">Other</div>
            <h2 class="mad-title">Family Stories</h2>
            <!-- <p> Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget,
                elementum vel,
                cursus eleifend, <br /> elit. Aenean auctor wisi et urna. Aliquam erat v olutpat. Duis ac
                turpis. </p> -->
        </div>
        <div class="mad-entities type-3 item-col-3">
            <div class="mad-col">
                <!--================ Entity ================-->
                <article class="mad-entity">
                    <div class="mad-entity-media">
                        <a href="/read-skylars-story/"><img src="/images/content/stories/davin/Davins Pic.webp" alt="" /></a>
                    </div>
                    <div class="mad-entity-content">
                        <div class="mad-entity-header">
                            <h5 class="mad-entity-title">
                                <a href="/read-davins-story/">Davin's Story</a>
                            </h5>
                            <p> Davin was just 9 months old when he contracted bacterial meningitis. While the illness
                                took away many of his physical abilities, it never diminished his joy, resilience, or
                                bright spirit. </p>
                            <a href="/read-davins-story/" class="mad-text-link"><span>Read More</span>
                                <span class="icon material-icons"> arrow_forward_ios </span></a>
                        </div>
                    </div>
                </article>
                <!--================ End of Entity ================-->
            </div>
            <div class="mad-col">
                <!--================ Entity ================-->
                <article class="mad-entity">
                    <div class="mad-entity-media">
                        <a href="/read-lennoxs-story/"><img src="/images/content/stories/lennox/image3.webp" alt="" /></a>
                    </div>
                    <div class="mad-entity-content">
                        <div class="mad-entity-header">
                            <h5 class="mad-entity-title">
                                <a href="/read-lennox-story/">Lennox's Story</a>
                            </h5>
                            <p> Our sweet boy Lennox had a rough start to life. He suffered lack of oxygen to his brain
                                which has left him with the diagnosis of Hypoxic-ischemic Encephalopathy (HIE). As
                                parents we were willing to do everything and anything to help make sure that he lives
                                the most normal, loving life. </p>
                            <a href="/read-lennox-story/" class="mad-text-link"><span>Read More</span> <span
                                    class="icon material-icons"> arrow_forward_ios </span></a>
                        </div>
                    </div>
                </article>
                <!--================ End of Entity ================-->
            </div>
            <div class="mad-col">
                <!--================ Entity ================-->
                <article class="mad-entity">
                    <div class="mad-entity-media">
                        <a href="/read-aspens-story/"><img src="/images/content/stories/aspen/image0.webp" alt="" /></a>
                    </div>
                    <div class="mad-entity-content">
                        <div class="mad-entity-header">
                            <h5 class="mad-entity-title">
                                <a href="/read-aspens-story/">Aspen's Story</a>
                            </h5>
                            <p> Whenever Aspen became sick and I felt scared or uncertain, Joline was always there to
                                listen, give us thoughtful and knowledgeable advice, and help us through those difficult
                                moments. She has always cared for Aspen with so much compassion and has been there for
                                me personally whenever I was hurting or struggling. </p>
                            <a href="/read-aspens-story/" class="mad-text-link"><span>Read More</span> <span
                                    class="icon material-icons"> arrow_forward_ios </span></a>
                        </div>
                    </div>
                </article>
                <!--================ End of Entity ================-->
            </div>
        </div>
    </div>
</div>