<aside id="sidebar" class="col-xxl-3 col-lg-4 mad-sidebar">
    <div class="mad-widget">
        <h6 class="mad-widget-title">What We Offer</h6>
        <ul class="mad-vr-list">
            <li>
                <a href="/providing-respite-care/"> Respite Care </a>
            </li>
            <li>
                <a href="/providing-therapeutic-activities/"> Therapeutic Activities </a>
            </li>
            <li>
                <a href="/providing-community-engagement/"> Community Engagement </a>
            </li>
            <li>
                <a href="/providing-end-of-life-care/"> End-Of-Life Care </a>
            </li>
            <li>
                <a href="/providing-bereavement-support/"> Bereavement Support </a>
            </li>
        </ul>
    </div>
    <div class="mad-widget">
        <div class="mad-banners">
            <a href="/volunteer/" class="mad-banner banner-1">
                <div class="mad-banner-content">
                    <h3 class="mad-banner-title"> Become <br> a Volunteer </h3>
                    <p>Help turn a child's life around after abuse by volunteering for one of
                        our services.</p>
                    <div class="btn btn-big"><span>Join Today</span><span class="icon material-icons">
                            arrow_forward_ios </span></div>
                </div>
            </a>
        </div>
    </div>
    <div class="mad-widget">
        <h6 class="mad-widget-title">Our Ohana</h6>
        <div class="mad-entities mad-entity-small">
            <div class="mad-col">
                <!--================ Entity ================-->
                <article class="mad-entity">
                    <a href="/team-joline-murillo/" class="mad-entity-media">
                        <img src="/images/96x96_img9.jpg" alt="">
                    </a>
                    <div class="mad-entity-body">
                        <div class="mad-entity-tags">
                            <span>RN, BSN,
                                CHPPN</span>
                        </div>
                        <h6 class="mad-entity-title">
                            <a href="/team-joline-murillo/">Joline Murillo</a>
                        </h6>
                        <p class="mad-entity-excerpt">Founder & Executive Director</p>
                    </div>
                </article>
                <!--================ End of Entity ================-->
            </div>
            <div class="mad-col">
                <!--================ Entity ================-->
                <article class="mad-entity">
                    <a href="/team-dianne-fochtman/" class="mad-entity-media">
                        <img src="/images/96x96_img9.jpg" alt="">
                    </a>
                    <div class="mad-entity-body">
                        <div class="mad-entity-tags">
                            <span>RN, PhD,
                                    CHPNP</span>
                        </div>
                        <h6 class="mad-entity-title">
                            <a href="/team-dianne-fochtman/">Dianne Fochtman</a>
                        </h6>
                        <p class="mad-entity-excerpt">Co-Founder</p>
                    </div>
                </article>
                <!--================ End of Entity ================-->
            </div>
            <div class="mad-col">
                <!--================ Entity ================-->
                <article class="mad-entity">
                    <a href="/team-jasmin-jensen/" class="mad-entity-media">
                        <img src="/images/96x96_img9.jpg" alt="">
                    </a>
                    <div class="mad-entity-body">
                        <div class="mad-entity-tags">
                            <span>MD</span>
                        </div>
                        <h6 class="mad-entity-title">
                            <a href="/team-jasmin-jensen/">Jasmin Jensen</a>
                        </h6>
                        <p class="mad-entity-excerpt">Medical Director</p>
                    </div>
                </article>
                <!--================ End of Entity ================-->
            </div>
            <div class="mad-col">
                <!--================ Entity ================-->
                <article class="mad-entity">
                    <a href="/team-juliana-pamplona/" class="mad-entity-media">
                        <img src="/images/96x96_img9.jpg" alt="">
                    </a>
                    <div class="mad-entity-body">
                        <h6 class="mad-entity-title">
                            <a href="/team-juliana-pamplona/">Juliana Pamplona</a>
                        </h6>
                        <p class="mad-entity-excerpt">Co-Founder</p>
                    </div>
                </article>
                <!--================ End of Entity ================-->
            </div>
        </div>
    </div>
    <div class="mad-widget">
        <div class="mad-banners">
            <div class="with-donate">
                <div class="mad-banner-content">
                    <div class="mad-banner-aligner">
                        <h6 class="mad-banner-title align-left">Help Us Today!</h6>
                        <a href="pages_donate.html" class="btn btn-big style-2 wide"><span>Donate Now</span> <i
                                class="icon"><img src="/charity_icons_svg/heart.svg" alt=""></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>