<!-- Other Ohana -->
<div class="content-element-main">
    <h2 class="mad-section-title align-center">Our Ohana Members</h2>
    <!--================ Team Members ================-->
    <div class="mad-team owl-carousel nav-color-2 mad-grid mad-grid--cols-3">
        <div class="mad-col">
            <!--================ Team Member ================-->
            <figure class="mad-team-member">
                <a href="/team-joline-murillo/" class="mad-team-member-photo"><img
                        src="/images/content/team/joline.jpeg" alt="" /></a>
                <figcaption class="mad-team-member-info">
                    <div class="mad-info-header">
                        <span>RN, BSN,
                            CHPPN</span>
                        <h5 class="mad-team-member-name">
                            <a href="/team-joline-murillo/">Joline Murillo</a>
                        </h5>
                        <div class="mad-member-stat">Founder & Executive Director</div>
                        <!-- <div class="mad-social-icons">
                            <ul class="justify-content-center">
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </figcaption>
            </figure>
            <!--================ End Of Team Member ================-->
        </div>
        <div class="mad-col">
            <!--================ Team Member ================-->
            <figure class="mad-team-member">
                <a href="/team-dianne-fochtman/" class="mad-team-member-photo"><img
                        src="/images/content/team/dianne.jpg" alt="" /></a>
                <figcaption class="mad-team-member-info">
                    <div class="mad-info-header">
                        <span>RN, PhD,
                            CPNP</span>
                        <h5 class="mad-team-member-name">
                            <a href="/team-dianne-fochtman/">Dianne Fochtman</a>
                        </h5>
                        <div class="mad-member-stat">Co-Founder</div>
                        <!-- <div class="mad-social-icons">
                            <ul class="justify-content-center">
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </figcaption>
            </figure>
            <!--================ End Of Team Member ================-->
        </div>
        <div class="mad-col">
            <!--================ Team Member ================-->
            <figure class="mad-team-member">
                <a href="/team-jasmin-jensen/" class="mad-team-member-photo"><img src="/images/content/team/jasmin.jpeg"
                        alt="" /></a>
                <figcaption class="mad-team-member-info">
                    <div class="mad-info-header">
                        <span>MD</span>
                        <h5 class="mad-team-member-name">
                            <a href="/team-jasmin-jensen/">Jasmin Jensen</a>
                        </h5>
                        <div class="mad-member-stat">Medical Director</div>
                        <!-- <div class="mad-social-icons">
                            <ul class="justify-content-center">
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </figcaption>
            </figure>
            <!--================ End Of Team Member ================-->
        </div>
        <div class="mad-col">
            <!--================ Team Member ================-->
            <figure class="mad-team-member">
                <a href="/team-juliana-pamplona/" class="mad-team-member-photo"><img
                        src="/images/content/team/julie.jpg" alt="" /></a>
                <figcaption class="mad-team-member-info">
                    <div class="mad-info-header">
                        <h5 class="mad-team-member-name">
                            <a href="/team-juliana-pamplona/">Juliana Pamplona</a>
                        </h5>
                        <div class="mad-member-stat">Co-Founder</div>
                        <!-- <div class="mad-social-icons">
                            <ul class="justify-content-center">
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </figcaption>
            </figure>
            <!--================ End Of Team Member ================-->
        </div>
    </div>
    <!--================ End Of Team Members ================-->
</div>
<!-- Other Ohana End -->