<!DOCTYPE html>
<html lang="en">

<head>
    <!--================ Basic page needs ================-->
    <title>Hale Anelalani | Our Hale
    </title>
    <meta charset="UTF-8" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--================ Mobile specific metas ================-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--================ Google web fonts ================-->
    <link
        href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500;700;800;900&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendors/owl-carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="/vendors/arcticmodal/jquery.arcticmodal-0.3.css" />
    <link rel="stylesheet" href="/vendors/fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <!--================ Vendor JS ================-->
</head>

<body>
    <div class="mad-preloader"></div>
    <div class="container wide">
        <div id="mad-page-wrapper" class="mad-page-wrapper">

            {% include 'nav.html' %}

            <!--================ Breadcrumb ================-->
            <div class="mad-breadcrumb with-bg-img with-overlay"
                data-bg-image-src="https://crescentcove.org/assets/user-uploads/originals/cresc-wall.png">
                <div class="container wide">
                    <h1 class="mad-page-title">Tour Hale Anelalani</h1>
                    <nav class="mad-breadcrumb-path">
                        <span><a href="/" class="mad-link">Home</a></span> / <span>Take a Tour</span>
                    </nav>
                </div>
            </div>
            <!--================ End of Breadcrumb ================-->


            <!-- Gallery -->
            <div class="mad-content">
                <div class="container">
                    <!--================ Filter ================-->
                    <nav class="mad-filter-wrap">
                        <ul id="portfolio-filter" class="mad-filter justify-content-center">
                            <li><a href="#" data-filter="*" class="mad-active">All</a></li>
                            <li>
                                <a href="#" data-filter=".mad-category-playground">Playground</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".mad-category-garden">Healing Garden</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".mad-category-suites">Family Suites</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".mad-category-pool">Therapy Pool</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".mad-category-activity">Activity Room</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".mad-category-dining">Kitchen & Dining</a>
                            </li>
                        </ul>
                    </nav>
                    <!--================ End of Filter ================-->
                    <!--================ Gallery ================-->
                    <div data-isotope-layout="masonry" data-isotope-filter="#portfolio-filter"
                        class="mad-portfolio item-col-3 mad-grid--isotope type-2">
                        <div class="mad-grid-sizer"></div>
                        <div class="mad-grid-item col-x2 mad-category-fundraising">
                            <!--================ Gallery Item ================-->
                            <div class="mad-gallery-item">
                                <a href="portfolio_single_grid.html" class="mad-gallery-media"><img
                                        src="/images/980x768_img1.jpg" alt="" /></a>
                                <div class="mad-gallery-desc">
                                    <a href="portfolio_grid_3_cols.html" class="mad-gallery-cat">Fundraising</a>
                                    <h4 class="mad-gallery-name">
                                        <a href="portfolio_grid_3_cols.html">Donec in Velit Vel</a>
                                    </h4>
                                </div>
                            </div>
                            <!--================ End Of Gallery Item ================-->
                        </div>
                        <div class="mad-grid-item mad-category-playground">
                            <!--================ Gallery Item ================-->
                            <div class="mad-gallery-item">
                                <a href="portfolio_single_grid.html" class="mad-gallery-media"><img
                                        src="https://ryanhouse.org/wp-content/uploads/2026/06/Landscaped-Patios-and-Play-Area-1-1024x683.jpg"
                                        alt="" /></a>
                                <div class="mad-gallery-desc">
                                    <a href="portfolio_grid_3_cols.html" class="mad-gallery-cat">Playground</a>
                                    <h4 class="mad-gallery-name">
                                        <a href="portfolio_grid_3_cols.html">Quisque Diam Lorem</a>
                                    </h4>
                                </div>
                            </div>
                            <!--================ End Of Gallery Item ================-->
                        </div>
                        <div class="mad-grid-item mad-category-playground">
                            <!--================ Gallery Item ================-->
                            <div class="mad-gallery-item">
                                <a href="portfolio_single_grid.html" class="mad-gallery-media"><img
                                        src="/images/475x368_img3.jpg" alt="" /></a>
                                <div class="mad-gallery-desc">
                                    <a href="portfolio_grid_3_cols.html" class="mad-gallery-cat">Playground</a>
                                    <h4 class="mad-gallery-name">
                                        <a href="portfolio_grid_3_cols.html">Fusce Euismod Conse</a>
                                    </h4>
                                </div>
                            </div>
                            <!--================ End Of Gallery Item ================-->
                        </div>
                        <div class="mad-grid-item mad-category-garden">
                            <!--================ Gallery Item ================-->
                            <div class="mad-gallery-item">
                                <a href="portfolio_single_grid.html" class="mad-gallery-media"><img
                                        src="https://ryanhouse.org/wp-content/uploads/2026/06/Memorial-Garden-Image.jpg"
                                        alt="" /></a>
                                <div class="mad-gallery-desc">
                                    <a href="portfolio_grid_3_cols.html" class="mad-gallery-cat">Healing Garden</a>
                                    <h4 class="mad-gallery-name">
                                        <a href="portfolio_grid_3_cols.html">Pellentesque Sed Dolor</a>
                                    </h4>
                                </div>
                            </div>
                            <!--================ End Of Gallery Item ================-->
                        </div>
                        <div class="mad-grid-item col-x2 mad-category-garden">
                            <!--================ Gallery Item ================-->
                            <div class="mad-gallery-item">
                                <a href="portfolio_single_grid.html" class="mad-gallery-media"><img
                                        src="/images/980x768_img2.jpg" alt="" /></a>
                                <div class="mad-gallery-desc">
                                    <a href="portfolio_grid_3_cols.html" class="mad-gallery-cat">Donation</a>
                                    <h4 class="mad-gallery-name">
                                        <a href="portfolio_grid_3_cols.html">Aliquam Congue</a>
                                    </h4>
                                </div>
                            </div>
                            <!--================ End Of Gallery Item ================-->
                        </div>
                        <div class="mad-grid-item mad-category-suites">
                            <!--================ Gallery Item ================-->
                            <div class="mad-gallery-item">
                                <a href="portfolio_single_grid.html" class="mad-gallery-media"><img
                                        src="https://ryanhouse.org/wp-content/uploads/2026/06/Childrens-Cabins-Bedrooms-1024x683.jpg"
                                        alt="" /></a>
                                <div class="mad-gallery-desc">
                                    <a href="portfolio_grid_3_cols.html" class="mad-gallery-cat">Family Suites</a>
                                    <h4 class="mad-gallery-name">
                                        <a href="portfolio_grid_3_cols.html">Integer Rutrum Ante</a>
                                    </h4>
                                </div>
                            </div>
                            <!--================ End Of Gallery Item ================-->
                        </div>
                        <div class="mad-grid-item mad-category-suites">
                            <!--================ Gallery Item ================-->
                            <div class="mad-gallery-item">
                                <a href="portfolio_single_grid.html" class="mad-gallery-media"><img
                                        src="/images/475x368_img6.jpg" alt="" /></a>
                                <div class="mad-gallery-desc">
                                    <a href="portfolio_grid_3_cols.html" class="mad-gallery-cat">Campaigns</a>
                                    <h4 class="mad-gallery-name">
                                        <a href="portfolio_grid_3_cols.html">Integer Rutrum Ante</a>
                                    </h4>
                                </div>
                            </div>
                            <!--================ End Of Gallery Item ================-->
                        </div>
                        <div class="mad-grid-item mad-category-suites">
                            <!--================ Gallery Item ================-->
                            <div class="mad-gallery-item">
                                <a href="portfolio_single_grid.html" class="mad-gallery-media"><img
                                        src="/images/475x368_img6.jpg" alt="" /></a>
                                <div class="mad-gallery-desc">
                                    <a href="portfolio_grid_3_cols.html" class="mad-gallery-cat">Campaigns</a>
                                    <h4 class="mad-gallery-name">
                                        <a href="portfolio_grid_3_cols.html">Integer Rutrum Ante</a>
                                    </h4>
                                </div>
                            </div>
                            <!--================ End Of Gallery Item ================-->
                        </div>
                        <div class="mad-grid-item mad-category-pool">
                            <!--================ Gallery Item ================-->
                            <div class="mad-gallery-item">
                                <a href="portfolio_single_grid.html" class="mad-gallery-media"><img
                                        src="https://ryanhouse.org/wp-content/uploads/2026/06/The-Swimming-Hole-Indoor-Hydrotherapy-Pool-1024x683.jpg"
                                        alt="" /></a>
                                <div class="mad-gallery-desc">
                                    <a href="portfolio_grid_3_cols.html" class="mad-gallery-cat">Therapy Pool</a>
                                    <h4 class="mad-gallery-name">
                                        <a href="portfolio_grid_3_cols.html">Integer Rutrum Ante</a>
                                    </h4>
                                </div>
                            </div>
                            <!--================ End Of Gallery Item ================-->
                        </div>
                        <div class="mad-grid-item mad-category-activity">
                            <!--================ Gallery Item ================-->
                            <div class="mad-gallery-item">
                                <a href="portfolio_single_grid.html" class="mad-gallery-media"><img
                                        src="https://ryanhouse.org/wp-content/uploads/2026/06/Do-Re-Mi-Music-Room-1.jpg" alt="" /></a>
                                <div class="mad-gallery-desc">
                                    <a href="portfolio_grid_3_cols.html" class="mad-gallery-cat">Activity Room</a>
                                    <h4 class="mad-gallery-name">
                                        <a href="portfolio_grid_3_cols.html">Integer Rutrum Ante</a>
                                    </h4>
                                </div>
                            </div>
                            <!--================ End Of Gallery Item ================-->
                        </div>
                        <div class="mad-grid-item mad-category-dining">
                            <!--================ Gallery Item ================-->
                            <div class="mad-gallery-item">
                                <a href="portfolio_single_grid.html" class="mad-gallery-media"><img
                                        src="https://ryanhouse.org/wp-content/uploads/2026/06/Creative-U-Arts-and-Crafts-Room.jpg"
                                        alt="" /></a>
                                <div class="mad-gallery-desc">
                                    <a href="portfolio_grid_3_cols.html" class="mad-gallery-cat">Kitchen</a>
                                    <h4 class="mad-gallery-name">
                                        <a href="portfolio_grid_3_cols.html">Integer Rutrum Ante</a>
                                    </h4>
                                </div>
                            </div>
                            <!--================ End Of Gallery Item ================-->
                        </div>
                        <div class="mad-grid-item mad-category-dining">
                            <!--================ Gallery Item ================-->
                            <div class="mad-gallery-item">
                                <a href="portfolio_single_grid.html" class="mad-gallery-media"><img
                                        src="/images/475x368_img6.jpg" alt="" /></a>
                                <div class="mad-gallery-desc">
                                    <a href="portfolio_grid_3_cols.html" class="mad-gallery-cat">Campaigns</a>
                                    <h4 class="mad-gallery-name">
                                        <a href="portfolio_grid_3_cols.html">Integer Rutrum Ante</a>
                                    </h4>
                                </div>
                            </div>
                            <!--================ End Of Gallery Item ================-->
                        </div>
                        <div class="mad-grid-item col-x2 mad-category-pool">
                            <!--================ Gallery Item ================-->
                            <div class="mad-gallery-item">
                                <a href="portfolio_single_grid.html" class="mad-gallery-media"><img
                                        src="/images/980x368_img1.jpg" alt="" /></a>
                                <div class="mad-gallery-desc">
                                    <a href="portfolio_grid_3_cols.html" class="mad-gallery-cat">Donation</a>
                                    <h4 class="mad-gallery-name">
                                        <a href="portfolio_grid_3_cols.html">Quisque Diam Lorem</a>
                                    </h4>
                                </div>
                            </div>
                            <!--================ End Of Gallery Item ================-->
                        </div>
                    </div>
                    <!--================ End of Gallery ================-->
                </div>
            </div>
            <!-- Gallery End -->


            {% include 'footer.html' %}
        </div>
    </div>
    <script src="/vendors/modernizr.js"></script>
    <script src="/vendors/jquery-3.6.0.min.js"></script>
    <script src="/vendors/jquery.easing.1.3.min.js"></script>
    <script src="/vendors/jquery.parallax-1.1.3.min.js"></script>
    <script src="/vendors/monkeysan.tabs.min.js"></script>
    <script src="/vendors/monkeysan.jquery.nav.1.0.js"></script>
    <script src="/vendors/monkeysan.validator.min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/handlebars-v4.0.5.min.js"></script>
    <script src="/vendors/isotope.pkgd.min.js"></script>
    <script src="/vendors/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
    <script src="/vendors/retina.min.js"></script>
    <script src="/vendors/fancybox/jquery.fancybox.min.js"></script>
    <script src="/vendors/mad.customselect.js"></script>
    <script src="/js/modules/mad.isotope.js"></script>
    <script src="/js/modules/mad.alert-box.min.js"></script>
    <script src="/js/modules/mad.newsletter-form.min.js"></script>
    <script src="/js/modules/mad.sticky-header-section.min.js"></script>
    <script src="/js/mad.app.js"></script>
</body>

</html>