<!DOCTYPE html>
<html lang="en">

<head>
  <!--================ Basic page needs ================-->
  <title>Hale Anelalani | Our Story</title>
  <meta charset="UTF-8" />
  <meta name="author" content="" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <!--================ Mobile specific metas ================-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--================ Favicon ================-->
  <link rel="icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/favicon.ico">
  <!--================ Google web fonts ================-->
  <link
    href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500;700;800;900&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
    rel="stylesheet" />
  <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/vendors/arcticmodal/jquery.arcticmodal-0.3.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/responsive.css" />
  <!--================ Vendor JS ================-->
</head>

<body>
  <!-- <div class="mad-preloader"></div> -->
  <div id="mad-page-wrapper" class="mad-page-wrapper">
    <div class="container wide">


      <!--================ Header ================-->
      {% include 'nav.html' %}
      <!--================ End of Header ================-->



      <!--================ Breadcrumb ================-->
      <div class="mad-breadcrumb simple-type mb-3">
        <div class="container wide">
          <h1 class="mb-2">Our Story</h1>
          <nav class="mad-breadcrumb-path">
            <span><a href="index.html" class="mad-link">Home</a></span> / Core Values</span>
          </nav>
        </div>
      </div>
      <!--================ End of Breadcrumb ================-->

      <div style="text-align: center; margin-top: 2rem; margin-bottom: 2rem;">
        <img src="/images/content/our-story/value-tree.png" alt="" style="width: 640px; opacity: 0.8;">
      </div>

      <div style="text-align: center; margin-top: 2rem; margin-bottom: 2rem;">
        <ul>
          <li class="mad-text-medium"><strong class="mad-text-big" style="color: #b274dc;">Manawanui</strong> - We
            support others in
            patience, courage and perseverance.</li>
          <li class="mad-text-medium"><strong class="mad-text-big" style="color: #a3dccc;">Malama</strong> - We nurture
            and care with
            compassion.</li>
          <li class="mad-text-medium"><strong class="mad-text-big" style="color: #f1856f;">Aloha</strong> - We lead with
            unconditional love.
          </li>
          <li class="mad-text-medium"><strong class="mad-text-big" style="color: #f2ca4b;">Lokahi</strong> - We create
            harmony through
            partnership.</li>
          <li class="mad-text-medium"><strong class="mad-text-big" style="color: #79d1f3;">Ho’ola</strong> - We foster
            healing in body, mind
            and spirit.</li>
          <li class="mad-text-medium"><strong class="mad-text-big" style="color: #b4d74d;">Pono</strong> - We honor
            every child with dignity
            and integrity.</li>
        </ul>
      </div>

      <!-- Mission Statement -->
      <div class="mad-section with-texture10 no-pb" style="margin-top: 4rem; margin-bottom: 4rem;">
        <div class="mad-texture-holder">
          <span class="mad-img-texture bg-move"><img src="/images/content/our-story/47776.jpg" style="opacity:0.1;"
              alt="" class="svg" /></span>
        </div>
        <div class="align-center">
          <div class="content-element-6 p-4">
            <div class="mad-pre-title">work with passion and intent</div>
            <h2 class="mad-title">Ho’ohana</h2>
            <p class="mad-text-big">Our Mission is to provide compassionate ohana centered care for keiki with
              life
              limiting conditions focusing on enhancing their quality of life and helping their ohana in
              every stage of their journey. We are dedicated to providing physical, emotional, and
              spiritual care while fostering dignity, love and joy. Through personalized care,
              education and advocacy, we aim to create a nurturing environment where keiki can
              thrive and their ohana can feel empowered and supported. </p>
            <p class="mad-text-big">Our vision is to create a compassionate sanctuary where keiki with life
              limiting
              conditions and
              their ohana find comfort, peace, hope and joy. We envision a hale where they can
              gather to receive holistic, ohana-centered care that provides them with the best quality
              of life. </p>
            </p>
          </div>
          <!-- <div class="btn-set justify-content-center">
            <a href="pages_about" class="btn style-2 btn-big"><span>Our Story</span><span class="icon material-icons">
                arrow_forward_ios </span></a>
            <a href="pages_donate.html" class="btn btn-big"><span>Donate</span> <i class="icon"><img
                  src="charity_icons_svg/heart.svg" alt="" /></i></a>
          </div> -->
        </div>
      </div>
      <!-- Mission Statement End -->


      <!--================ Breadcrumb ================-->
      <div class="mad-breadcrumb simple-type" style="margin-top: 6rem;">
        <div class="container wide">
          <nav class="mad-breadcrumb-path">
            <span><a href="index.html" class="mad-link">Home</a></span> / Our
            Ohana</span>
          </nav>
        </div>
      </div>
      <!--================ End of Breadcrumb ================-->


      <div class="mad-content" id="our-ohana">
        <div class="container">
          <div class="content-element-main">
            <div class="mad-entities mad-team type-4">
              <article class="mad-entity mad-entity-single">
                <div class="mad-entity-media">
                  <img src="/images/content/team/joline.jpeg" alt="" />
                </div>
                <div class="mad-entity-content">
                  <div class="content-element-6">
                    <span class="mad-link">RN, BSN,
                      CHPPN</span>
                    <h2 class="mad-title">Joline Murillo</h2>
                    <div class="mad-pre-title">Founder & Executive Director</div>
                  </div>
                  <div class="content-element-4">
                    <p>For more than 20 years, I have had the honor of caring for the keiki of
                      Hawaii as a registered nurse, most of that time spent in the Pediatric
                      Intensive Care Unit at Kapi'olani Hospital. I have stood beside families
                      in their most vulnerable moments, celebrating small victories,
                      navigating uncertainty, and holding them through unimaginable grief.
                      These experiences have shaped not only the nurse I am, but the
                      mission I carry in my heart. </p>
                    <p> In the PICU and most recently working in pediatric hospice and
                      palliative care, I began to see something deeper. Beyond the
                      medicine, beyond the monitors, I saw parents who never got to rest.
                      Parents who became full-time caregivers, medical experts, and
                      constant advocates for their child—often at the expense of simply
                      being mom and dad. I saw siblings who loved fiercely but were too
                      often on the sidelines. And I kept asking myself: What if we could give
                      these families a place to just be? <br><br> That question became my calling. </p>
                  </div>
                  <!-- <div class="content-element-4">
                    <div class="mad-list-content mad-fw-semi">
                      <ul class="mad-list--icon">
                        <li>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.<i
                            class="icon material-icons-outlined">grade_outline</i>
                        </li>
                        <li>Aenean auctor wisi et urna. Aliquam erat volutpat. <i
                            class="icon material-icons-outlined">grade_outline</i></li>
                        <li>Duis ac turpis. Integer rutrum ante eu lacus.<i
                            class="icon material-icons-outlined">grade_outline</i></li>
                        <li>Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.<i
                            class="icon material-icons-outlined">grade_outline</i></li>
                      </ul>
                    </div>
                  </div> -->
                  <div class="content-element-6">
                    <p> I have walked alongside these families for decades. I have seen their
                      strength—but I have also seen their exhaustion. And I know we can
                      do better for them.</p>
                    <p> Hale ‘Anelalani was created with the intent to help these keiki and
                      ‘ohana with love and support throughout their entire journey. My faith
                      and my ‘ohana have been the backbone to helping create this dream
                      for our lahui. I am so grateful to Ke Akua for the opportunity to walk
                      alongside these ‘ohana.</p>
                  </div>
                </div>
              </article>
            </div>
          </div>

          {% include 'team.html' %}

          <!--================ Breadcrumb ================-->
          <!-- <div class="mad-breadcrumb simple-type">
            <div class="container wide">
              <nav class="mad-breadcrumb-path">
                <span><a href="/" class="mad-link">Home</a></span> / Our
                Hale</span>
              </nav>
            </div>
          </div> -->
          <!--================ End of Breadcrumb ================-->

          <!-- Our Hale -->
          <!-- <div class="mad-section">
            <div class="mad-title-wrap align-center">
              <div class="mad-pre-title">tour the home</div>
              <h2 class="mad-title">Our Hale</h2>
            </div>
            <div class="mad-content no-pd">
              <div class="container">
                <div class="container">
                  <div class="content-element-4">
                    <div class="mad-gallery item-col-3">
                      <div class="mad-gallery-item">
                        <a href="/images/475x368_img5.jpg" data-fancybox="gallery"><img src="/images/475x368_img11.jpg"
                            alt=""></a>
                      </div>
                      <div class="mad-gallery-item">
                        <a href="/images/475x368_img4.jpg" data-fancybox="gallery"><img src="/images/475x368_img12.jpg"
                            alt=""></a>
                      </div>
                      <div class="mad-gallery-item">
                        <a href="/images/475x368_img4.jpg" data-fancybox="gallery"><img src="/images/475x368_img13.jpg"
                            alt=""></a>
                      </div>
                      <div class="mad-gallery-item">
                        <a href="/images/475x368_img4.jpg" data-fancybox="gallery"><img src="/images/475x368_img13.jpg"
                            alt=""></a>
                      </div>
                      <div class="mad-gallery-item">
                        <a href="/images/475x368_img4.jpg" data-fancybox="gallery"><img src="/images/475x368_img13.jpg"
                            alt=""></a>
                      </div>
                      <div class="mad-gallery-item">
                        <a href="/images/475x368_img4.jpg" data-fancybox="gallery"><img src="/images/475x368_img13.jpg"
                            alt=""></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="align-center mt-5">
                  <a href="/our-hale/" class="btn btn-big style-2">Take a Tour</a>
                </div>
              </div>
            </div>
          </div> -->
          <!-- Our Hale End -->
        </div>

      </div>

      <!-- CTA -->
      {% include 'cta.html' %}
      <br style="margin-bottom: 4rem;">
      <!--  CTA End -->



      <!--================ Footer ================-->
      {% include 'footer.html' %}
      <!--================ End of Footer ================-->

    </div>
    <script src="/vendors/modernizr.js"></script>
    <script src="/vendors/jquery-3.6.0.min.js"></script>
    <script src="/vendors/jquery.easing.1.3.min.js"></script>
    <script src="/vendors/monkeysan.jquery.nav.1.0.js"></script>
    <script src="/vendors/monkeysan.validator.min.js"></script>
    <script src="/vendors/monkeysan.tabs.min.js"></script>
    <script src="/vendors/handlebars-v4.0.5.min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
    <script src="/vendors/retina.min.js"></script>
    <script src="/vendors/mad.customselect.js"></script>
    <script src="/js/modules/mad.alert-box.min.js"></script>
    <script src="/js/modules/mad.newsletter-form.min.js"></script>
    <script src="/js/modules/mad.sticky-header-section.min.js"></script>
    <script src="/js/mad.app.js"></script>
</body>

</html>