<!DOCTYPE html>
<html lang="en">

<head>
    <!--================ Basic page needs ================-->
    <title>Hale Anelalani | Providing Respite Care</title>
    <meta charset="UTF-8" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--================ Mobile specific metas ================-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--================ Favicon ================-->
    <link rel="icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/favicon.ico">
    <!--================ Google web fonts ================-->
    <link
        href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500;700;800;900&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/vendors/arcticmodal/jquery.arcticmodal-0.3.css" />
    <link rel="stylesheet" href="/vendors/owl-carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="/vendors/fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <!--================ Vendor JS ================-->
</head>

<body>
    <!-- <div class="mad-preloader"></div> -->
    <div id="mad-page-wrapper" class="mad-page-wrapper">
        <div class="container wide">



            <!--================ Header ================-->
            {% include 'nav.html' %}
            <!--================ End of Header ================-->


            <!--================ Breadcrumb ================-->
            <div class="mad-breadcrumb simple-type">
                <div class="container wide">
                    <nav class="mad-breadcrumb-path">
                        <span><a href="index.html" class="mad-link">Home</a></span> /
                        <span>Respite Care</span>
                    </nav>
                </div>
            </div>
            <!--================ End of Breadcrumb ================-->


            <div class="mad-content">
                <div class="container">
                    <div class="row hr-size-2 vr-size-2 sticky-bar">
                        <main id="main" class="col-xxl-9 col-lg-8">
                            <div class="content-element-main">
                                <div class="mad-entities single-event type-2">
                                    <!--================ Entity ================-->
                                    <article class="mad-entity mad-entity-single content-element-8">
                                        <h1 class="align-center">Providing Respite Care</h1>
                                        <div class="mad-img content-element-4">
                                            <img src="/images/1012x704_img1.jpg" alt="" />
                                        </div>
                                        <div class="mad-entity-content">
                                            <div class="mad-entity-header">
                                                <div class="content-element-7">
                                                    <h2>Rest that Strengthens the ‘Ohana</h2>
                                                    <div
                                                        class="mad-dropcap style-2 color-2 mad-text-medium content-element-4">
                                                        <p> Caring for a child with complex medical needs can require
                                                            around-the-clock attention. Hale ‘Anelalani will provide
                                                            families with a trusted place where their keiki can receive
                                                            compassionate, skilled care while parents and caregivers
                                                            have time to rest, reconnect, attend to other family needs,
                                                            or simply take a much-needed break. </p>
                                                        <p> Our respite services will be designed around each child’s
                                                            unique medical, developmental, emotional, and social needs.
                                                            During their stay, children can continue their
                                                            individualized care routines while also enjoying
                                                            opportunities for play, creativity, sensory experiences,
                                                            outdoor activities and meaningful connection. </p>
                                                    </div>
                                                    <div class="mad-testimonial-bg style-2">
                                                        <div class="mad-testimonial">
                                                            <div class="mad-testimonial-info">
                                                                <blockquote>
                                                                    <p> Because Caring for the Caregiver is Part of
                                                                        Caring for the Child. </p>
                                                                </blockquote>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p><strong>Respite stays may include:</strong></p>
                                                    <div class="content-element-4">
                                                        <div class="mad-list-content mad-fw-semi">
                                                            <ul class="mad-list--icon">
                                                                <li>Skilled pediatric nursing support<i
                                                                        class="icon material-icons-outlined">grade_outline</i>
                                                                </li>
                                                                <li>Medication, feeding, respiratory, and medical
                                                                    equipment support<i
                                                                        class="icon material-icons-outlined">grade_outline</i>
                                                                </li>
                                                                <li>Child life support<i
                                                                        class="icon material-icons-outlined">grade_outline</i>
                                                                </li>
                                                                <li>Sensory and therapeutic activities<i
                                                                        class="icon material-icons-outlined">grade_outline</i>
                                                                </li>
                                                                <li>Adaptive play and outdoor experiences<i
                                                                        class="icon material-icons-outlined">grade_outline</i>
                                                                </li>
                                                                <li>Hydrotherapy and water-based activities<i
                                                                        class="icon material-icons-outlined">grade_outline</i>
                                                                </li>
                                                                <li>Family and sibling support<i
                                                                        class="icon material-icons-outlined">grade_outline</i>
                                                                </li>
                                                                <li>Comfort-focused and palliative support<i
                                                                        class="icon material-icons-outlined">grade_outline</i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content-element-4">
                                                    <h4>Rest for ‘Ohana. Joy for Keiki</h4>
                                                    <p>We will provide expert care for medically fragile keiki in a
                                                        safe, nurturing environment. While families are able to rest and
                                                        recharge the keiki enjoy fun, adaptive activities and meaningful
                                                        moments supported by experienced pediatric staff. </p>
                                                    <div class="row mad-gallery">
                                                        <div class="col-12">
                                                            <div class="mad-gallery-item">
                                                                <a href="/images/1012x640_img1.jpg"
                                                                    data-fancybox="gallery"><img
                                                                        src="/images/1012x640_img1.jpg" alt="" /></a>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="mad-gallery-item">
                                                                <a href="/images/490x368_img1.jpg"
                                                                    data-fancybox="gallery"><img
                                                                        src="/images/490x368_img1.jpg" alt="" /></a>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="mad-gallery-item">
                                                                <a href="/images/490x368_img2.jpg"
                                                                    data-fancybox="gallery"><img
                                                                        src="/images/490x368_img2.jpg" alt="" /></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!--================ End of Entity ================-->
                                </div>
                                <div class="comment single-comment">
                                    <div class="comment-body clearfix">
                                        <div class="comment-author-avatar">
                                            <a href="#"><img src="/images/content/team/joline174.webp"
                                                    alt="John Smith"></a>
                                        </div>
                                        <div class="comment-author-info">
                                            <div class="comment-row">
                                                <cite class="fn">A message from the founder</cite>
                                            </div>
                                            <div class="comment-content">
                                                <p class="content-element-3"> Caring for a child with a serious illness
                                                    is a journey filled with incredible love, but even the strongest
                                                    families need time to rest. My hope is that Hale ‘Anelalani becomes
                                                    the place where parents can finally exhale, knowing their child is
                                                    safe, loved, and experiencing the joy of simply being a child. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>

                        <!-- Sidebar -->
                        {% include 'services_sidebar.html' %}
                        <!-- Sidebar End -->
                    </div>
                </div>
            </div>


            <!--================ Footer ================-->
            {% include 'footer.html' %}
            <!--================ End of Footer ================-->
        </div>
    </div>
    <script src="/vendors/modernizr.js"></script>
    <script src="/vendors/jquery-3.6.0.min.js"></script>
    <script src="/vendors/jquery.easing.1.3.min.js"></script>
    <script src="/vendors/jquery.parallax-1.1.3.min.js"></script>
    <script src="/vendors/monkeysan.accordion.js"></script>
    <script src="/vendors/monkeysan.jquery.nav.1.0.js"></script>
    <script src="/vendors/monkeysan.validator.min.js"></script>
    <script src="/vendors/handlebars-v4.0.5.min.js"></script>
    <script src="/vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="/vendors/fancybox/jquery.fancybox.min.js"></script>
    <script src="/vendors/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
    <script src="/vendors/retina.min.js"></script>
    <script src="/vendors/sticky-sidebar.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/mad.customselect.js"></script>
    <script src="/js/modules/mad.alert-box.min.js"></script>
    <script src="/js/modules/mad.newsletter-form.min.js"></script>
    <script src="/js/modules/mad.sticky-header-section.min.js"></script>
    <script src="/js/mad.app.js"></script>
</body>

</html>