<!DOCTYPE html>
<html lang="en">

<head>
    <!--================ Basic page needs ================-->
    <title>Hale Anelalani | Providing End of Life Care</title>
    <meta charset="UTF-8" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--================ Mobile specific metas ================-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--================ Google web fonts ================-->
    <link
        href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500;700;800;900&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/vendors/arcticmodal/jquery.arcticmodal-0.3.css" />
    <link rel="stylesheet" href="/vendors/owl-carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="/vendors/fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <!--================ Vendor JS ================-->
</head>

<body>
    <div class="mad-preloader"></div>
    <div id="mad-page-wrapper" class="mad-page-wrapper">
        <div class="container wide">



            <!--================ Header ================-->
            {% include 'nav.html' %}
            <!--================ End of Header ================-->


            <!--================ Breadcrumb ================-->
            <div class="mad-breadcrumb simple-type">
                <div class="container wide">
                    <nav class="mad-breadcrumb-path">
                        <span><a href="index.html" class="mad-link">Home</a></span> /
                        <span>End of Life Care</span>
                    </nav>
                </div>
            </div>
            <!--================ End of Breadcrumb ================-->


            <div class="mad-content">
                <div class="container">
                    <div class="row hr-size-2 vr-size-2 sticky-bar">
                        <main id="main" class="col-xxl-9 col-lg-8">
                            <div class="content-element-main">
                                <div class="mad-entities single-event type-2">
                                    <!--================ Entity ================-->
                                    <article class="mad-entity mad-entity-single content-element-8">
                                        <!-- <div class="mad-entity-tags">
                                            <span><a href="blog_list_sidebar.html" class="mad-link">August 26,
                                                    2022</a></span> - <span><a href="blog_list_sidebar.html"
                                                    class="mad-link">Disasters</a></span> - <span>by <a
                                                    href="blog_list_sidebar.html" class="mad-link">admin</a></span> -
                                            <span><a href="blog_list_sidebar.html" class="mad-link"> 3
                                                    comments</a></span>
                                        </div> -->
                                        <h1 class="align-center">Providing End of Life Care</h1>
                                        <div class="mad-img content-element-4">
                                            <img src="/images/1012x704_img1.jpg" alt="" />
                                        </div>
                                        <div class="mad-entity-content">
                                            <div class="mad-entity-header">
                                                <div class="content-element-7">
                                                    <div
                                                        class="mad-dropcap style-2 color-2 mad-text-medium content-element-4">
                                                        <p> Ut tellus dolor, dapibus eget, elementum vel, cursus
                                                            eleifend, elit. Aenean auctor wisi
                                                            et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit
                                                            amet eros. Lorem ipsum dolor sit
                                                            amet, consectetuer adipiscing elit. Mauris fermentum dictum
                                                            magna. Sed laoreet aliquam
                                                            leo. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis
                                                            ac turpis. Integer rutrum
                                                            ante eu lacus. Vestibulum libero nisl, porta vel,
                                                            scelerisque eget, malesuada at, neque.
                                                            Vivamus eget nibh. Etiam cursus leo vel metus. Nulla
                                                            facilisi. Aenean nec eros. Vestibulum
                                                            ante ipsum primis in faucibus. Lorem ipsum dolor sit amet,
                                                            consectetuer adipisMauris
                                                            accumsan nulla vel diam. Sed in lacus ut enim adipiscing
                                                            aliquet. In pede mi, aliquet sit
                                                            amet, euismod in, auctor ut, ligula. Aliquam dapibus
                                                            tincidunt metus. </p>
                                                    </div>
                                                    <div class="mad-testimonial-bg style-2">
                                                        <div class="mad-testimonial">
                                                            <div class="mad-testimonial-info">
                                                                <blockquote>
                                                                    <p> Even before the pandemic 258 million children
                                                                        were locked out of school. Lets
                                                                        build a world where all children can reach their
                                                                        potential! </p>
                                                                </blockquote>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p> Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer
                                                        adipiscing elit. Mauris
                                                        fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus
                                                        dolor, dapibus eget, elementum
                                                        vel, cursus eleifend, elit. </p>
                                                    <p> Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac
                                                        turpis. Integer rutrum ante eu
                                                        lacus.Vestibulum libero nisl, porta vel, scelerisque eget,
                                                        malesuada at, neque. Vivamus eget
                                                        nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec
                                                        eros. Vestibulum ante ipsum
                                                        primis in faucibus orci luctus et ultrices posuere cubilia
                                                        Curae.</p>
                                                </div>
                                                <div class="content-element-4">
                                                    <h4>The Challenges for Respite Care</h4>
                                                    <p>Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum
                                                        vel, cursus eleifend,
                                                        elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac
                                                        turpis. Integer rutrum ante
                                                        eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget,
                                                        malesuada at, neque. Vivamus
                                                        eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean
                                                        nec eros. </p>
                                                    <div class="row mad-gallery">
                                                        <div class="col-12">
                                                            <div class="mad-gallery-item">
                                                                <a href="images/1012x640_img1.jpg"
                                                                    data-fancybox="gallery"><img
                                                                        src="images/1012x640_img1.jpg" alt="" /></a>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="mad-gallery-item">
                                                                <a href="images/490x368_img1.jpg"
                                                                    data-fancybox="gallery"><img
                                                                        src="images/490x368_img1.jpg" alt="" /></a>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="mad-gallery-item">
                                                                <a href="images/490x368_img2.jpg"
                                                                    data-fancybox="gallery"><img
                                                                        src="images/490x368_img2.jpg" alt="" /></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                                    fugit, sed quia
                                                    consequuntur magni dolores eos qui ratione voluptatem sequi
                                                    nesciunt. Neque porro quisquam
                                                    est, qui dolorem ipsum quia dolor sit amet,nsectetur, adipisci
                                                    velit, sed quia non numquam
                                                    eius modi tempora incidunt ut labore et dolore magnam aliquam
                                                    quaerat voluptatem. </p>
                                                <!-- <div class="mad-entity-footer">
                                                    <div class="mad-share-wrap type-2">
                                                        <span>Tags:</span>
                                                        <div class="tagcloud">
                                                            <a href="blog_classic_sidebar.html">Child</a>
                                                            <a href="blog_classic_sidebar.html">Disaster</a>
                                                            <a href="blog_classic_sidebar.html">Earthquake</a>
                                                        </div>
                                                    </div>
                                                    <div class="mad-share-wrap type-2">
                                                        <span>Share This:</span>
                                                        <div class="mad-social-icons size-small">
                                                            <ul>
                                                                <li>
                                                                    <a href="https://facebook.com" target="blank"><i
                                                                            class="fab fa-facebook-f"></i></a>
                                                                </li>
                                                                <li>
                                                                    <a href="https://instagram.com" target="blank"><i
                                                                            class="fab fa-instagram"></i></a>
                                                                </li>
                                                                <li>
                                                                    <a href="https://twitter.com" target="blank"><i
                                                                            class="fab fa-twitter"></i></a>
                                                                </li>
                                                                <li>
                                                                    <a href="mailto:company@company.com"><i
                                                                            class="fab fa-linkedin-in"></i></a>
                                                                </li>
                                                                <li>
                                                                    <a href="https://pinterest.com"><i
                                                                            class="fab fa-pinterest-p"></i></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </article>
                                    <!--================ End of Entity ================-->
                                </div>
                                <div class="comment single-comment">
                                    <div class="comment-body clearfix">
                                        <div class="comment-author-avatar">
                                            <a href="#"><img src="/images/168x168_photo1.jpg" alt="John Smith"></a>
                                        </div>
                                        <div class="comment-author-info">
                                            <div class="comment-row">
                                                <cite class="fn">A message from the founder</cite>
                                            </div>
                                            <div class="comment-content">
                                                <p class="content-element-3"> Donec in velit vel ipsum auctor pulvinar.
                                                    Vestibulum iaculis
                                                    lacinia est. Proin dictum elementum velit. Fusce euismod consequat
                                                    ante. Lorem ipsum dolor sit
                                                    amet, consectetuer adipis. Mauris accumsan nulla vel diam. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                        <!-- Sidebar -->
                        {% include 'services_sidebar.html' %}
                        <!-- Sidebar End -->
                    </div>
                </div>
            </div>


            <!--================ Footer ================-->
            {% include 'footer.html' %}
            <!--================ End of Footer ================-->
        </div>
    </div>
    <script src="/vendors/modernizr.js"></script>
    <script src="/vendors/jquery-3.6.0.min.js"></script>
    <script src="/vendors/jquery.easing.1.3.min.js"></script>
    <script src="/vendors/jquery.parallax-1.1.3.min.js"></script>
    <script src="/vendors/monkeysan.accordion.js"></script>
    <script src="/vendors/monkeysan.jquery.nav.1.0.js"></script>
    <script src="/vendors/monkeysan.validator.min.js"></script>
    <script src="/vendors/handlebars-v4.0.5.min.js"></script>
    <script src="/vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="/vendors/fancybox/jquery.fancybox.min.js"></script>
    <script src="/vendors/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
    <script src="/vendors/retina.min.js"></script>
    <script src="/vendors/sticky-sidebar.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/mad.customselect.js"></script>
    <script src="/js/modules/mad.alert-box.min.js"></script>
    <script src="/js/modules/mad.newsletter-form.min.js"></script>
    <script src="/js/modules/mad.sticky-header-section.min.js"></script>
    <script src="/js/mad.app.js"></script>
</body>

</html>