<!DOCTYPE html>
<html lang="en">

<head>
    <!--================ Basic page needs ================-->
    <title>Hale Anelalani | Piki's Story</title>
    <meta charset="UTF-8" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--================ Mobile specific metas ================-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--================ Google web fonts ================-->
    <link
        href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500;700;800;900&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendors/arcticmodal/jquery.arcticmodal-0.3.css" />
    <link rel="stylesheet" href="/vendors/owl-carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="/vendors/fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <!--================ Vendor JS ================-->
</head>

<body>
    <div class="mad-preloader"></div>
    <div id="mad-page-wrapper" class="mad-page-wrapper">
        <div class="container wide">



            <!--================ Header ================-->
            {% include 'nav.html' %}
            <!--================ End of Header ================-->

            <!-- Gallery -->
            <div class="container">
                <div class="content-element-4">
                    <div class="mad-gallery item-col-3">
                        <div class="mad-gallery-item">
                            <a href="images/475x368_img5.jpg" data-fancybox="gallery"><img
                                    src="images/475x368_img11.jpg" alt=""></a>
                        </div>
                        <div class="mad-gallery-item">
                            <a href="images/475x368_img4.jpg" data-fancybox="gallery"><img
                                    src="images/475x368_img12.jpg" alt=""></a>
                        </div>
                        <div class="mad-gallery-item">
                            <a href="images/475x368_img4.jpg" data-fancybox="gallery"><img
                                    src="images/475x368_img13.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Gallery End -->

            <!-- Single Story -->
            <div class="pt-5">
                <div class="container">
                    <div class="content-element-main">
                        <div class="mad-entities mad-team type-4">
                            <article class="mad-entity mad-entity-single">
                                <div class="mad-entity-media">
                                    <img src="/images/744x768_photo1.jpg" alt="" />
                                </div>
                                <div class="mad-entity-content">
                                    <div class="content-element-6">
                                        <h2 class="mad-title">Piki's Story</h2>
                                    </div>
                                    <div class="content-element-4">
                                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ut
                                            optio, cumque accusamus distinctio facere! Reprehenderit ad voluptas vel
                                            possimus nulla cupiditate facere non nostrum a ipsum aspernatur magnam
                                            explicabo expedita placeat, tenetur nihil? Quos minima, tempore dignissimos
                                            dolore harum ea a cumque optio, et molestiae, ratione ad eos quia. </p>
                                        <p> lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ut
                                            optio, cumque
                                            accusamus distinctio facere! Reprehenderit ad voluptas vel possimus nulla
                                            cupiditate facere non nostrum a ipsum aspernatur magnam explicabo expedita
                                            placeat, tenetur nihil? Quos minima, tempore dignissimos dolore harum ea a
                                            cumque optio, et molestiae, ratione ad eos quia.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Story End -->

            <!-- Other Stories -->
            <div class="mad-section mad-section--stretched-content mad-colorizer--scheme-color-">
                <div class="mad-texture-holder">
                    <span class="mad-img-texture2 bg-move"><img src="/images/texture_move2.svg" alt=""
                            class="svg" /></span>
                    <span class="mad-img-texture3 bg-move"><img src="/images/texture_move3.svg" alt=""
                            class="svg" /></span>
                </div>
                <div class="container">
                    <div class="mad-title-wrap align-center">
                        <div class="mad-pre-title">Other</div>
                        <h2 class="mad-title">Family Stories</h2>
                        <p> Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget,
                            elementum vel,
                            cursus eleifend, <br /> elit. Aenean auctor wisi et urna. Aliquam erat v olutpat. Duis ac
                            turpis. </p>
                    </div>
                    <div class="mad-entities type-3 item-col-3">
                        <div class="mad-col">
                            <!--================ Entity ================-->
                            <article class="mad-entity">
                                <div class="mad-entity-media">
                                    <a href="/read-skylars-story/"><img src="/images/475x576_img1.jpg"
                                            alt="" /></a>
                                </div>
                                <div class="mad-entity-content">
                                    <div class="mad-entity-header">
                                        <h5 class="mad-entity-title">
                                            <a href="/read-skylars-story/">Skylar's Story</a>
                                        </h5>
                                        <p> Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean
                                            auctor wisi et
                                            urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. </p>
                                        <a href="/read-skylars-story/" class="mad-text-link"><span>Read More</span> <span
                                                class="icon material-icons"> arrow_forward_ios </span></a>
                                    </div>
                                </div>
                            </article>
                            <!--================ End of Entity ================-->
                        </div>
                        <div class="mad-col">
                            <!--================ Entity ================-->
                            <article class="mad-entity">
                                <div class="mad-entity-media">
                                    <a href="/read-aspens-story/"><img src="/images/475x576_img2.jpg"
                                            alt="" /></a>
                                </div>
                                <div class="mad-entity-content">
                                    <div class="mad-entity-header">
                                        <h5 class="mad-entity-title">
                                            <a href="/read-aspens-story/">Aspen's Story</a>
                                        </h5>
                                        <p> Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam
                                            elit agna, endrerit
                                            sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. </p>
                                        <a href="/read-aspens-story/" class="mad-text-link"><span>Read More</span> <span
                                                class="icon material-icons"> arrow_forward_ios </span></a>
                                    </div>
                                </div>
                            </article>
                            <!--================ End of Entity ================-->
                        </div>
                        <div class="mad-col">
                            <!--================ Entity ================-->
                            <article class="mad-entity">
                                <div class="mad-entity-media">
                                    <a href="/read-davins-story/"><img src="/images/475x576_img3.jpg"
                                            alt="" /></a>
                                </div>
                                <div class="mad-entity-content">
                                    <div class="mad-entity-header">
                                        <h5 class="mad-entity-title">
                                            <a href="/read-davins-story/">Davin's Story</a>
                                        </h5>
                                        <p> Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque
                                            eget, malesuada
                                            at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. </p>
                                        <a href="/read-davins-story/" class="mad-text-link"><span>Read More</span> <span
                                                class="icon material-icons"> arrow_forward_ios </span></a>
                                    </div>
                                </div>
                            </article>
                            <!--================ End of Entity ================-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Other Stories End -->

            <!--================ Footer ================-->
            {% include 'footer.html' %}
            <!--================ End of Footer ================-->

        </div>
    </div>
    <script src="/vendors/modernizr.js"></script>
    <script src="/vendors/jquery-3.6.0.min.js"></script>
    <script src="/vendors/jquery.easing.1.3.min.js"></script>
    <script src="/vendors/monkeysan.jquery.nav.1.0.js"></script>
    <script src="/vendors/monkeysan.validator.min.js"></script>
    <script src="/vendors/monkeysan.tabs.min.js"></script>
    <script src="/vendors/handlebars-v4.0.5.min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/fancybox/jquery.fancybox.min.js"></script>
    <script src="/vendors/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
    <script src="/vendors/retina.min.js"></script>
    <script src="/vendors/mad.customselect.js"></script>
    <script src="/js/modules/mad.alert-box.min.js"></script>
    <script src="/js/modules/mad.newsletter-form.min.js"></script>
    <script src="/js/modules/mad.sticky-header-section.min.js"></script>
    <script src="/js/mad.app.js"></script>
</body>

</html>