<!DOCTYPE html>
<html lang="en">

<head>
    <!--================ Basic page needs ================-->
    <title>Hale Anelalani | Aspen's Story</title>
    <meta charset="UTF-8" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--================ Mobile specific metas ================-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--================ Favicon ================-->
    <link rel="icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/favicon.ico">
    <!--================ Google web fonts ================-->
    <link
        href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500;700;800;900&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendors/arcticmodal/jquery.arcticmodal-0.3.css" />
    <link rel="stylesheet" href="/vendors/owl-carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="/vendors/fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <!--================ Vendor JS ================-->
</head>

<body>
    <!-- <div class="mad-preloader"></div> -->
    <div id="mad-page-wrapper" class="mad-page-wrapper">
        <div class="container wide">



            <!--================ Header ================-->
            {% include 'nav.html' %}
            <!--================ End of Header ================-->

            <!-- Gallery -->
            <div class="container">
                <div class="content-element-4">
                    <div class="mad-gallery item-col-3">
                        <div class="mad-gallery-item">
                            <a href="/images/content/stories/aspen/image2.webp" data-fancybox="gallery"><img
                                    src="/images/content/stories/aspen/image2.webp" alt=""></a>
                        </div>
                        <div class="mad-gallery-item">
                            <a href="/images/content/stories/aspen/IMG_8501.webp" data-fancybox="gallery"><img
                                    src="/images/content/stories/aspen/IMG_8501.webp" alt=""></a>
                        </div>
                        <div class="mad-gallery-item">
                            <a href="/images/content/stories/aspen/image3.webp" data-fancybox="gallery"><img
                                    src="/images/content/stories/aspen/image3.webp" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Gallery End -->

            <!-- Single Story -->
            <div class="pt-5">
                <div class="container">
                    <div class="content-element-main">
                        <div class="mad-entities mad-team type-4">
                            <article class="mad-entity mad-entity-single">
                                <div class="mad-entity-media">
                                    <img src="/images/content/stories/aspen/image0.webp" alt="" />
                                </div>
                                <div class="mad-entity-content">
                                    <div class="content-element-6">
                                        <h2 class="mad-title">Aspen's Testimonial</h2>
                                    </div>
                                    <div class="content-element-4">
                                        <p> Joline has been there for us ever since Aspen was three years old, when she
                                            was critically ill.</p>
                                        <p>Whenever Aspen became sick and I felt scared or uncertain, Joline was always
                                            there to listen, give us thoughtful and knowledgeable advice, and help us
                                            through those difficult moments. She has always cared for Aspen with so much
                                            compassion and has been there for me personally whenever I was hurting or
                                            struggling. </p>
                                        <p> Joline has been an incredible source of support for our family. She is
                                            always genuinely caring, compassionate, and willing to go above and beyond
                                            to help us.</p>
                                        <p> She is so much more than a caregiver to us. She is someone we trust deeply
                                            and someone who has become truly irreplaceable in our lives.</p>
                                        <p> The reason we are able to live with more peace of mind today is because of
                                            Joline’s knowledge, compassion, and love. </p>
                                        <p>We are incredibly grateful to have Joline in our lives, and we know that the
                                            love and care she gives to the children and their families at Hale Anelalani
                                            will make a meaningful difference in so many lives. </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Story End -->

            <!-- Other Stories -->
            {% include 'other_stories.html' %}
            <!-- Other Stories End -->


            <!--================ Footer ================-->
            {% include 'footer.html' %}
            <!--================ End of Footer ================-->

        </div>
    </div>
    <script src="/vendors/modernizr.js"></script>
    <script src="/vendors/jquery-3.6.0.min.js"></script>
    <script src="/vendors/jquery.easing.1.3.min.js"></script>
    <script src="/vendors/monkeysan.jquery.nav.1.0.js"></script>
    <script src="/vendors/monkeysan.validator.min.js"></script>
    <script src="/vendors/monkeysan.tabs.min.js"></script>
    <script src="/vendors/handlebars-v4.0.5.min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/fancybox/jquery.fancybox.min.js"></script>
    <script src="/vendors/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
    <script src="/vendors/retina.min.js"></script>
    <script src="/vendors/mad.customselect.js"></script>
    <script src="/js/modules/mad.alert-box.min.js"></script>
    <script src="/js/modules/mad.newsletter-form.min.js"></script>
    <script src="/js/modules/mad.sticky-header-section.min.js"></script>
    <script src="/js/mad.app.js"></script>
</body>

</html>