<!DOCTYPE html>
<html lang="en">

<head>
    <!--================ Basic page needs ================-->
    <title>Hale Anelalani | Davin's Story</title>
    <meta charset="UTF-8" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--================ Mobile specific metas ================-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--================ Favicon ================-->
    <link rel="icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/favicon.ico">
    <!--================ Google web fonts ================-->
    <link
        href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500;700;800;900&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendors/arcticmodal/jquery.arcticmodal-0.3.css" />
    <link rel="stylesheet" href="/vendors/owl-carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="/vendors/fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <!--================ Vendor JS ================-->
</head>

<body>
    <!-- <div class="mad-preloader"></div> -->
    <div id="mad-page-wrapper" class="mad-page-wrapper">
        <div class="container wide">



            <!--================ Header ================-->
            {% include 'nav.html' %}
            <!--================ End of Header ================-->

            <!-- Gallery -->
            <div class="container">
                <div class="content-element-4">
                    <div class="mad-gallery item-col-3">
                        <div class="mad-gallery-item">
                            <a href="/images/content/stories/davin/davin family pic.webp" data-fancybox="gallery"><img
                                    src="/images/content/stories/davin/davin family pic.webp" alt=""></a>
                        </div>
                        <div class="mad-gallery-item">
                            <a href="/images/content/stories/davin/Davin smiling pic.webp" data-fancybox="gallery"><img
                                    src="/images/content/stories/davin/Davin smiling pic.webp" alt=""></a>
                        </div>
                        <div class="mad-gallery-item">
                            <a href="/images/content/stories/davin/davin christmas pic.webp"
                                data-fancybox="gallery"><img
                                    src="/images/content/stories/davin/davin christmas pic.webp" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Gallery End -->

            <!-- Single Story -->
            <div class="pt-5">
                <div class="container">
                    <div class="content-element-main">
                        <div class="mad-entities mad-team type-4">
                            <article class="mad-entity mad-entity-single">
                                <div class="mad-entity-media">
                                    <img src="/images/content/stories/davin/Davins Pic.webp" alt="" />
                                </div>
                                <div class="mad-entity-content">
                                    <div class="content-element-6">
                                        <h2 class="mad-title">Davin's Story</h2>
                                    </div>
                                    <div class="content-element-4">
                                        <p> Davin was just 9 months old when he contracted bacterial meningitis. While
                                            the illness took away many of his physical abilities, it never diminished
                                            his joy, resilience, or bright spirit. </p>
                                        <p> Today, Davin is a medically fragile teenager receiving hospice care. He
                                            requires around-the-clock support, and providing that level of care truly
                                            takes a village. Despite the challenges, Davin remains an absolute delight
                                            to his family. They treasure simple moments together, like walks along the
                                            beach path in his wheelchair and outings to the movies.
                                        </p>
                                        <p> Caring for a child with complex medical needs is a labor of love, but it is
                                            also physically and emotionally demanding. Families who provide 24/7
                                            nursing-level care need opportunities to rest, recharge, and tend to their
                                            own well-being.
                                        </p>
                                        <p> Having a safe, compassionate place where Davin can stay gives his family
                                            priceless peace of mind. It offers them the chance to do things many
                                            families take for granted, such as visiting Davin's brother in college on
                                            the East Coast, attending to their own health needs, or simply taking time
                                            to rest. Most importantly, they can do so knowing that Davin is receiving
                                            expert, loving care in a true home-away-from-home.
                                        </p>
                                        <p>For families like Davin's, respite care is not a luxury. It is a beacon of
                                            hope.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Story End -->

            <!-- Other Stories -->
            {% include 'other_stories.html' %}
            <!-- Other Stories End -->


            <!--================ Footer ================-->
            {% include 'footer.html' %}
            <!--================ End of Footer ================-->

        </div>
    </div>
    <script src="/vendors/modernizr.js"></script>
    <script src="/vendors/jquery-3.6.0.min.js"></script>
    <script src="/vendors/jquery.easing.1.3.min.js"></script>
    <script src="/vendors/monkeysan.jquery.nav.1.0.js"></script>
    <script src="/vendors/monkeysan.validator.min.js"></script>
    <script src="/vendors/monkeysan.tabs.min.js"></script>
    <script src="/vendors/handlebars-v4.0.5.min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/fancybox/jquery.fancybox.min.js"></script>
    <script src="/vendors/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
    <script src="/vendors/retina.min.js"></script>
    <script src="/vendors/mad.customselect.js"></script>
    <script src="/js/modules/mad.alert-box.min.js"></script>
    <script src="/js/modules/mad.newsletter-form.min.js"></script>
    <script src="/js/modules/mad.sticky-header-section.min.js"></script>
    <script src="/js/mad.app.js"></script>
</body>

</html>