<!DOCTYPE html>
<html lang="en">

<head>
    <!--================ Basic page needs ================-->
    <title>Hale Anelalani | Joline Murillo</title>
    <meta charset="UTF-8" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--================ Mobile specific metas ================-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--================ Favicon ================-->
    <link rel="icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/favicon.ico">
    <!--================ Google web fonts ================-->
    <link
        href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500;700;800;900&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendors/arcticmodal/jquery.arcticmodal-0.3.css" />
    <link rel="stylesheet" href="/vendors/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <!--================ Vendor JS ================-->
</head>

<body>
    <!-- <div class="mad-preloader"></div> -->
    <div id="mad-page-wrapper" class="mad-page-wrapper">
        <div class="container wide">



            <!--================ Header ================-->
            {% include 'nav.html' %}
            <!--================ End of Header ================-->

            <!--================ Breadcrumb ================-->
            <div class="mad-breadcrumb simple-type">
                <div class="container wide">
                    <nav class="mad-breadcrumb-path">
                        <span><a href="index.html" class="mad-link">Home</a></span> / <span>Our Ohana</span> /
                        <span>Joline Murillo</span>
                    </nav>
                </div>
            </div>
            <!--================ End of Breadcrumb ================-->
            <div class="mad-content">
                <div class="container">
                    <div class="content-element-main">
                        <div class="mad-entities mad-team type-4">
                            <article class="mad-entity mad-entity-single">
                                <div class="mad-entity-media">
                                    <img src="/images/content/team/joline.webp" alt="" />
                                    <div class="mad-testimonial-bg style-2 content-element-4">
                                        <div class="mad-testimonial">
                                            <div class="mad-testimonial-info">
                                                <blockquote>
                                                    <p>"Together we've impacted the lives of over 200 million vulnerable
                                                        children by tackling the
                                                        root causes of poverty."</p>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mad-entity-content">
                                    <div class="content-element-6">
                                        <h2 class="mad-title">Joline Murillo</h2>
                                        <span class="mad-link">RN, BSN,
                                            CHPPN</span>
                                        <div class="mad-pre-title">Founder / Executive Director</div>
                                    </div>
                                    <div class="content-element-4">
                                        <p> Born and raised in Kāneʻohe, Hawaiʻi has always been more than the place I
                                            call home—it is who I am. My ʻohana, my faith, my community, and my culture
                                            have shaped the person I have become, and I have always carried a deep
                                            desire to give back to our people and care for the place and community that
                                            raised and nurtured me.
                                            For more than 20 years, I have had the honor of caring for the keiki of
                                            Hawaiʻi as a registered nurse, with much of that time spent in the Pediatric
                                            Intensive Care Unit at Kapiʻolani Hospital. I have stood beside families in
                                            some of their most vulnerable moments—celebrating victories, navigating
                                            uncertainty, and holding them through unimaginable grief. </p>
                                        <p> My journey eventually led me into pediatric hospice and palliative care, where I’ve become Hawaiʻi’s only certified hospice and palliative pediatric nurse: a reflection of my deep commitment to serving children with serious illness and their ʻohana.  In this work, I began to see something deeper: a wider perspective. Beyond the medicine and the monitors, I saw parents who rarely had the opportunity to rest. Parents who became full-time caregivers, medical experts, and constant advocates for their child—often sacrificing the simple gift of just being Mom or Dad. I saw siblings who loved fiercely, yet too often found themselves on the sidelines.
                                        </p>
                                        <p> I have walked alongside these families for decades. I have witnessed their incredible strength, but I have also seen their exhaustion. These experiences have shaped not only the nurse I am, but the mission I carry in my heart.
                                        </p>
                                        <p><i>What if we could give these families a place to simply be?</i>
                                        </p>
                                        <p>That question became my calling—and the seed from which Hale ‘Anelalani began.
                                        </p>
                                        <p>My faith and my ʻohana have been the foundation beneath this dream and continue to give me strength in its pursuit. I am deeply grateful to Ke Akua for entrusting me with this opportunity to help our lāhui. 
                                        </p>
                                        <p><i>Hale ‘Anelalani is more than a place we hope to build. It is a promise that no one will have to walk this journey alone.</i>
                                        </p>
                                    </div>
                                    <!-- <div class="mad-social-icons size-2">
                                        <ul>
                                            <li>
                                                <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://www.youtube.com/channel/UCHLY0iBPh03oLba9Hc0ABMg"><i
                                                        class="fab fa-youtube"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/in/sergii-velykorodnov-714b5a25/"><i
                                                        class="fab fa-linkedin-in"></i></a>
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                            </article>
                        </div>
                    </div>

                    {% include 'team.html' %}

                </div>

            </div>

            <!--================ Footer ================-->
            {% include 'footer.html' %}
            <!--================ End of Footer ================-->
        </div>
    </div>
    <script src="/vendors/modernizr.js"></script>
    <script src="/vendors/jquery-3.6.0.min.js"></script>
    <script src="/vendors/jquery.easing.1.3.min.js"></script>
    <script src="/vendors/monkeysan.jquery.nav.1.0.js"></script>
    <script src="/vendors/monkeysan.validator.min.js"></script>
    <script src="/vendors/handlebars-v4.0.5.min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
    <script src="/vendors/retina.min.js"></script>
    <script src="/vendors/mad.customselect.js"></script>
    <script src="/js/modules/mad.alert-box.min.js"></script>
    <script src="/js/modules/mad.newsletter-form.min.js"></script>
    <script src="/js/modules/mad.sticky-header-section.min.js"></script>
    <script src="/js/mad.app.js"></script>
</body>

</html>