<!DOCTYPE html>
<html lang="en">

<head>
    <!--================ Basic page needs ================-->
    <title>Hale Anelalani | Juliana Pamplona</title>
    <meta charset="UTF-8" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--================ Mobile specific metas ================-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--================ Google web fonts ================-->
    <link
        href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500;700;800;900&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendors/arcticmodal/jquery.arcticmodal-0.3.css" />
    <link rel="stylesheet" href="/vendors/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <!--================ Vendor JS ================-->
</head>

<body>
    <div class="mad-preloader"></div>
    <div id="mad-page-wrapper" class="mad-page-wrapper">
        <div class="container wide">



            <!--================ Header ================-->
            {% include 'nav.html' %}
            <!--================ End of Header ================-->

            <!--================ Breadcrumb ================-->
            <div class="mad-breadcrumb simple-type">
                <div class="container wide">
                    <nav class="mad-breadcrumb-path">
                        <span><a href="index.html" class="mad-link">Home</a></span> / <span>Our Ohana</span> /
                        <span>Juliana Pamplona</span>
                    </nav>
                </div>
            </div>
            <!--================ End of Breadcrumb ================-->

            <div class="mad-content">
                <div class="container">
                    <div class="content-element-main">
                        <div class="mad-entities mad-team type-4">
                            <article class="mad-entity mad-entity-single">
                                <div class="mad-entity-media">
                                    <img src="/images/744x768_photo1.jpg" alt="" />
                                    <div class="mad-testimonial-bg style-2 content-element-4">
                                        <div class="mad-testimonial">
                                            <div class="mad-testimonial-info">
                                                <blockquote>
                                                    <p>"Together we've impacted the lives of over 200 million vulnerable
                                                        children by tackling the
                                                        root causes of poverty."</p>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mad-entity-content">
                                    <div class="content-element-6">
                                        <span class="mad-link">Bereaved mother to Kiki girl </span>
                                        <h2 class="mad-title">Juliana Pamplona</h2>
                                        <div class="mad-pre-title">Co-Founder</div>
                                    </div>
                                    <div class="content-element-4">
                                        <p> My name is Juliana Pamplona and I am an ordinary person living an
                                            extraordinary life on Earth, one forever changed by my children, Rocco and
                                            Kiara “Kiki,” my greatest teachers in unconditional love, joy, and the
                                            sacred
                                            journey of motherhood. </p>
                                        <p> On September 15, 2023, Kiki, just 10 years old, was diagnosed with a rare
                                            and aggressive brain cancer known as Diffuse Intrinsic Pontine Glioma
                                            (DIPG). After a courageous six-month battle, navigating both the limits of
                                            medicine and the depths of faith, Kiki passed on March 12, 2024, my 44th
                                            birthday.
                                        </p>
                                        <p> Her passing was not an end, but a beginning, opening gates that transcend
                                            the five senses, like an eruption into spirituality. It felt as though we
                                            were all
                                            dancing between two worlds, heaven and earth.
                                        </p>
                                        <p> This experience opened a profound spiritual awakening, one that blurred
                                            the lines between heaven and earth, grief and grace. Through
                                            unimaginable loss came a deeper connection to faith, surrender, and the
                                            understanding that healing does not always come in the ways we expect. In
                                            this journey, moments of synchronicity often appeared, gentle reminders of
                                            something greater at work. As Albert Einstein once said, “Coincidences are
                                            God’s way of remaining anonymous.”
                                        </p>
                                        <p> During Kiki’s illness, our family faced not only the heartbreak of her
                                            condition, but also the overwhelming challenges of a medical system with
                                            limited support for children with rare and complex diseases. We fought
                                            tirelessly for treatments, equipment, and options, often hearing the words
                                            no parent should ever hear: “There’s nothing we can do.”
                                            But from this struggle came purpose.
                                        </p>
                                        <p> But from this struggle came purpose.
                                        </p>
                                        <p> With the guidance and compassion of a dedicated hospice nurse Joline
                                            Murillo who became family, and through lived experience, advocacy, and
                                            spiritual growth, a vision was born: to create a better, more compassionate
                                            support system for families walking similar paths.
                                        </p>
                                        <p> I have since become a certified Reiki practitioner (White Light Reiki and
                                            Usui Reiki Ryoho), an End-of-Life Doula, and trained in Sibshops,
                                            workshops supporting siblings of children with special needs. Alongside my
                                            son Rocco, I continue to serve the community through volunteering and
                                            connecting with nature as a source of healing, and transforming pain into
                                            purpose.
                                        </p>
                                        <p> As Mother Teresa once reflected, “I know God will not give me anything I
                                            can’t handle. Sometimes I just wish that He, didn’t trust me so much.” This
                                            sentiment echoes the reality of our journey, one of strength, surrender, and
                                            faith through profound loss.
                                        </p>
                                    </div>
                                    <div class="mad-social-icons size-2">
                                        <ul>
                                            <li>
                                                <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://www.youtube.com/channel/UCHLY0iBPh03oLba9Hc0ABMg"><i
                                                        class="fab fa-youtube"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/in/sergii-velykorodnov-714b5a25/"><i
                                                        class="fab fa-linkedin-in"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <!-- Other Ohana -->
                    <div class="content-element-main">
                        <h2 class="mad-section-title align-center">Our Ohana Members</h2>
                        <!--================ Team Members ================-->
                        <div class="mad-team owl-carousel nav-color-2 mad-grid mad-grid--cols-3">
                            <div class="mad-col">
                                <!--================ Team Member ================-->
                                <figure class="mad-team-member">
                                    <a href="/team-dianne-fochtman/" class="mad-team-member-photo"><img
                                            src="/images/475x520_photo7.jpg" alt="" /></a>
                                    <figcaption class="mad-team-member-info">
                                        <div class="mad-info-header">
                                            <span>RN, PhD,
                                                CPNP</span>
                                            <h5 class="mad-team-member-name">
                                                <a href="/team-dianne-fochtman/">Dianne Fochtman</a>
                                            </h5>
                                            <div class="mad-member-stat">Co-Founder</div>
                                            <div class="mad-social-icons">
                                                <ul class="justify-content-center">
                                                    <li>
                                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <!--================ End Of Team Member ================-->
                            </div>
                            <div class="mad-col">
                                <!--================ Team Member ================-->
                                <figure class="mad-team-member">
                                    <a href="/team-jasmin-jensen/" class="mad-team-member-photo"><img
                                            src="/images/475x520_photo8.jpg" alt="" /></a>
                                    <figcaption class="mad-team-member-info">
                                        <div class="mad-info-header">
                                            <span>MD</span>
                                            <h5 class="mad-team-member-name">
                                                <a href="/team-jasmin-jensen/">Jasmin Jensen</a>
                                            </h5>
                                            <div class="mad-member-stat">Medical Director</div>
                                            <div class="mad-social-icons">
                                                <ul class="justify-content-center">
                                                    <li>
                                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <!--================ End Of Team Member ================-->
                            </div>
                            <div class="mad-col">
                                <!--================ Team Member ================-->
                                <figure class="mad-team-member">
                                    <a href="/team-joline-murillo/" class="mad-team-member-photo"><img
                                            src="/images/475x520_photo1.jpg" alt="" /></a>
                                    <figcaption class="mad-team-member-info">
                                        <div class="mad-info-header">
                                            <span>RN, BSN,
                                                CHPPN</span>
                                            <h5 class="mad-team-member-name">
                                                <a href="/team-joline-murillo/">Joline Murillo</a>
                                            </h5>
                                            <div class="mad-member-stat">Founder & Executive Director</div>
                                            <div class="mad-social-icons">
                                                <ul class="justify-content-center">
                                                    <li>
                                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <!--================ End Of Team Member ================-->
                            </div>
                            <div class="mad-col">
                                <!--================ Team Member ================-->
                                <figure class="mad-team-member">
                                    <a href="/team-juliana-pamplona/" class="mad-team-member-photo"><img
                                            src="/images/475x520_photo9.jpg" alt="" /></a>
                                    <figcaption class="mad-team-member-info">
                                        <div class="mad-info-header">
                                            <h5 class="mad-team-member-name">
                                                <a href="/team-juliana-pamplona/">Juliana Pamplona</a>
                                            </h5>
                                            <div class="mad-member-stat">Co-Founder</div>
                                            <div class="mad-social-icons">
                                                <ul class="justify-content-center">
                                                    <li>
                                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <!--================ End Of Team Member ================-->
                            </div>
                        </div>
                        <!--================ End Of Team Members ================-->
                    </div>
                    <!-- Other Ohana End -->
                </div>

            </div>

            <!--================ Footer ================-->
            {% include 'footer.html' %}
            <!--================ End of Footer ================-->
        </div>
    </div>
    <script src="/vendors/modernizr.js"></script>
    <script src="/vendors/jquery-3.6.0.min.js"></script>
    <script src="/vendors/jquery.easing.1.3.min.js"></script>
    <script src="/vendors/monkeysan.jquery.nav.1.0.js"></script>
    <script src="/vendors/monkeysan.validator.min.js"></script>
    <script src="/vendors/handlebars-v4.0.5.min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
    <script src="/vendors/retina.min.js"></script>
    <script src="/vendors/mad.customselect.js"></script>
    <script src="/js/modules/mad.alert-box.min.js"></script>
    <script src="/js/modules/mad.newsletter-form.min.js"></script>
    <script src="/js/modules/mad.sticky-header-section.min.js"></script>
    <script src="/js/mad.app.js"></script>
</body>

</html>