<!DOCTYPE html>
<html lang="en">

<head>
    <!--================ Basic page needs ================-->
    <title>Hale Anelalani | Become a Volunteer</title>
    <meta charset="UTF-8" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--================ Mobile specific metas ================-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--================ Google web fonts ================-->
    <link
        href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500;700;800;900&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendors/arcticmodal/jquery.arcticmodal-0.3.css" />
    <link rel="stylesheet" href="/vendors/owl-carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="/vendors/fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <!--================ Vendor JS ================-->
</head>

<body>
    <div class="mad-preloader"></div>
    <div id="mad-page-wrapper" class="mad-page-wrapper">
        <div class="container wide">


            <!--================ Header ================-->
            {% include 'nav.html' %}
            <!--================ End of Header ================-->

            <div class="mad-content no-pt">
                <div
                    class="mad-section content-element-main no-pd mad-section--stretched- mad-colorizer--scheme-color-3">
                    <div class="mad-entities type-4">
                        <article class="mad-entity">
                            <a href="https://www.youtube.com/embed/CE29QWUSOV8?rel=0&amp;showinfo=0&amp;autohide=2&amp;controls=0&amp;enablejsapi=1"
                                class="mad-entity-media mad-video-fancybox" data-fancybox="video">
                                <img src="/images/912x760_img1.jpg" alt="" />
                            </a>
                            <div class="mad-entity-content">
                                <div class="content-element-6">
                                    <div class="mad-pre-title">watch video</div>
                                    <h2 class="mad-title">Become a Volunteer</h2>
                                </div>
                                <div class="content-element-6">
                                    <p> Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit
                                        agna,endrerit sit
                                        amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam
                                        lorem, interdum
                                        vitae, dapibus ac. </p>
                                    <p> Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit
                                        agna,endrerit sit
                                        amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam
                                        lorem, interdum
                                        vitae, dapibus ac. </p>
                                    <p> Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit
                                        agna,endrerit sit
                                        amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam
                                        lorem, interdum
                                        vitae, dapibus ac. </p>
                                </div>
                                <a href="#" class="btn btn-big style-2"><span>Volunteer Form</span><span
                                        class="icon material-icons">
                                        arrow_forward_ios </span></a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="mad-section content-element-main no-pd">
                    <div class="mad-entities mad-reversed no-bg type-4">
                        <article class="mad-entity">
                            <div class="mad-entity-media">
                                <img src="/images/912x776_img1.jpg" alt="" />
                            </div>
                            <div class="mad-entity-content">
                                <div class="content-element-6">
                                    <div class="mad-pre-title">FUN AND REWARDING</div>
                                    <h2 class="mad-title">Volunteering FAQs</h2>
                                </div>
                                <!--================ Accordion ================-->
                                <dl role="presentation" class="mad-panels mad-panels--accordion">
                                    <dt class="mad-panels-title mad-panels-active">
                                        <button id="panel-7-button" type="button" aria-expanded="false"
                                            aria-controls="panel-7" aria-disabled="false"> Why volunteer with us?
                                        </button>
                                    </dt>
                                    <dd id="panel-7" class="mad-panels-definition">
                                        <p> Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor,
                                            dapibus eget, elementum
                                            vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat
                                            volutpat. Duis ac turpis.
                                            Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque
                                            eget, malesuada at,
                                            neque. Duis ac turpis. </p>
                                    </dd>
                                    <dt class="mad-panels-title">
                                        <button id="panel-8-button" type="button" aria-expanded="true"
                                            aria-controls="panel-8" aria-disabled="false">Who can volunteer?</button>
                                    </dt>
                                    <dd id="panel-8" class="mad-panels-definition">
                                        <p> Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod
                                            consequat ante.
                                            Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac,
                                            scelerisque vitae, pede.
                                            Donec eget tellus non erat lacinia fermentum. </p>
                                    </dd>
                                    <dt class="mad-panels-title">
                                        <button id="panel-9-button" type="button" aria-expanded="false"
                                            aria-controls="panel-9" aria-disabled="false"> What does volunteering
                                            involve? </button>
                                    </dt>
                                    <dd id="panel-9" class="mad-panels-definition">
                                        <p> Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec
                                            porta diam eu massa.
                                            Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede.
                                            Donec eget tellus non
                                            erat lacinia fermentum. Proin dictum elementum velit. </p>
                                    </dd>
                                </dl>
                                <!--================ End of Accordion ================-->
                            </div>
                        </article>
                    </div>
                </div>
                <div class="mad-section mad-colorizer--scheme-color-6 mad-colorizer--scheme-light with-texture11">
                    <div class="mad-texture-holder">
                        <span class="mad-img-texture bg-move"><img src="/images/texture_move5.svg" alt=""
                                class="svg" /></span>
                    </div>
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-xl-7">
                                <div class="mad-title-wrap align-center">
                                    <div class="mad-pre-title">volunteer form</div>
                                    <h2 class="mad-title">Register Interest in Volunteering</h2>
                                    <p class="content-element-6 mad-text-color-5"> Mauris fermentum dictum magna. Sed
                                        laoreet aliquam leo.
                                        Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, <br /> elit.
                                        Aenean auctor wisi et
                                        urna. Aliquam erat v olutpat. Duis ac turpis. </p>
                                </div>
                                <form class="mad-text-medium mad-form item-col-2 mad-text-color-5">
                                    <div class="mad-col full-width">
                                        <label>Are you over 18 years old? *</label>
                                        <div class="item-col-2">
                                            <div class="mad-col">
                                                <div class="form-control">
                                                    <div style="display: block" class="mad-toggled-fields size-medium">
                                                        <input type="radio" name="radio-1" id="radio-1"
                                                            checked="checked" />
                                                        <label for="radio-1" class="mad-label-radio">Yes, I am 18 or
                                                            older</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mad-col">
                                                <div class="form-control">
                                                    <div class="content-element">
                                                        <div style="display: block"
                                                            class="mad-toggled-fields size-medium">
                                                            <input type="radio" name="radio-1" id="radio-2" />
                                                            <label for="radio-2" class="mad-label-radio">No, I am aged
                                                                14 - 17</label>
                                                        </div>
                                                    </div>
                                                    <p class="mad-text-small mad-text-color-4">(Please note, you will
                                                        need to be at least 14 years
                                                        old to be a volunteer)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mad-col">
                                        <div class="mad-form-item">
                                            <label>What role are you interested in? *</label>
                                            <div class="mad-custom-select">
                                                <select data-default-text="Please Select" id="cf_subject"
                                                    name="cf_subject">
                                                    <option>Subject 1</option>
                                                    <option>Subject 2</option>
                                                    <option>Subject 3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mad-form-item">
                                            <label>First name *</label>
                                            <input type="text" id="cf_fname" name="cf_fname" required=""
                                                placeholder="First Name" />
                                        </div>
                                    </div>
                                    <div class="mad-col">
                                        <div class="mad-form-item">
                                            <label>Last name *</label>
                                            <input type="text" id="cf_lname" name="cf_lname" required=""
                                                placeholder="Last Name" />
                                        </div>
                                        <div class="mad-form-item">
                                            <label>Email address *</label>
                                            <input type="email" id="cf_email" name="cf_email" required=""
                                                placeholder="Email Address" />
                                        </div>
                                    </div>
                                    <div class="mad-col full-width">
                                        <div class="mad-form-item align-center">
                                            <button type="submit" class="btn btn-big"><span>Submit</span> <span
                                                    class="icon material-icons">
                                                    arrow_forward_ios </span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <article class="mad-cta mad-section mad-colorizer--scheme-color-2 with-texture10 mt-5">
                    <div class="container">
                        <div class="mad-cta-row">
                            <div class="mad-col">
                                <h2 class="mad-page-title"> There are other ways to get involved!</h2>
                            </div>
                            <div class="mad-col">
                                <a href="pages_donate.html" class="btn btn-huge"><span>Donate </span> <span
                                        class="icon material-icons"> arrow_forward_ios </span></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!--================ Footer ================-->
            {% include 'footer.html' %}
            <!--================ End of Footer ================-->
        </div>
    </div>
    <script src="/vendors/modernizr.js"></script>
    <script src="/vendors/jquery-3.6.0.min.js"></script>
    <script src="/vendors/jquery.easing.1.3.min.js"></script>
    <script src="/vendors/monkeysan.jquery.nav.1.0.js"></script>
    <script src="/vendors/monkeysan.validator.min.js"></script>
    <script src="/vendors/monkeysan.tabs.min.js"></script>
    <script src="/vendors/monkeysan.accordion.js"></script>
    <script src="/vendors/handlebars-v4.0.5.min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
    <script src="/vendors/retina.min.js"></script>
    <script src="/vendors/mad.customselect.js"></script>
    <script src="/vendors/fancybox/jquery.fancybox.min.js"></script>
    <script src="/js/modules/mad.alert-box.min.js"></script>
    <script src="/js/modules/mad.newsletter-form.min.js"></script>
    <script src="/js/modules/mad.sticky-header-section.min.js"></script>
    <script src="/js/mad.app.js"></script>
</body>

</html>