<!DOCTYPE html>
<html lang="en">

<head>
  <!--================ Basic page needs ================-->
  <title>Hale Anelalani | Volunteer</title>
  <meta charset="UTF-8" />
  <meta name="author" content="" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <!--================ Mobile specific metas ================-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--================ Favicon ================-->
  <link rel="icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/favicon.ico">
  <!--================ Google web fonts ================-->
  <link
    href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500;700;800;900&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
    rel="stylesheet" />
  <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/vendors/arcticmodal/jquery.arcticmodal-0.3.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/responsive.css" />
  <link rel="stylesheet" href="/vendors/fancybox/jquery.fancybox.min.css" />
  <!--================ Vendor JS ================-->
</head>

<body>
  <!-- <div class="mad-preloader"></div> -->
  <div id="mad-page-wrapper" class="mad-page-wrapper">
    <div class="container wide">


      <!--================ Header ================-->
      {% include 'nav.html' %}
      <!--================ End of Header ================-->



      <!--================ Breadcrumb ================-->
      <div class="mad-breadcrumb simple-type mb-3">
        <div class="container wide">
          <h1 class="mb-2">How to Volunteer</h1>
          <nav class="mad-breadcrumb-path">
            <span><a href="/" class="mad-link">Home</a></span> / Volunteering</span>
          </nav>
        </div>
      </div>
      <!--================ End of Breadcrumb ================-->


      <div style="text-align: center; margin-top: 2rem;">
        <img src="/images/content/volunteer/hero.jpeg" alt="" style="width: 640px; border-radius: 10px;" />
      </div>

      <!-- Laulima Statement -->
      <div class="mad-section with-texture10 no-pb" style="margin-bottom: 4rem;">
        <div class="mad-texture-holder">
          <span class="mad-img-texture bg-move"><img src="/images/content/volunteer/sl_050622_50240_09.jpg" alt=""
              class="svg" style="opacity: 0.1;" /></span>
        </div>
        <div class="align-center">
          <div class="content-element-6 p-5">
            <h2 class="mad-title" style="margin: 0;">Laulima</h2>
            <div class="mad-pre-title" style="margin-bottom: 3rem;">Many hands - One heart - One hui </div>
            <p class="mad-text-big">Hale Anelalani is being built through laulima — families, healthcare
              professionals, volunteers, community partners, and supporters each bringing their time, talents, and aloha
              to create something Hawaiʻi’s keiki and families deeply need. </p>
            <p class="mad-text-big">Whether you share a professional skill, help at a community event, lend a hand
              with fundraising, care for our future gardens and spaces, or simply give your time — there is a place for
              your hands in this mission. </p>
            </p>
            <p class="mad-text-big"><strong>"E Laulima Kākou"</strong></p>
            <p class="mad-text-big"><i>Together, we can build a home of comfort, connection, and aloha for Hawaiʻi’s
                medically fragile children and their ʻohana.</i></p>
            </p>
            <p class="mad-text-big"><strong>Join our Ohana!</strong></p>
          </div>
          <!-- <div class="btn-set justify-content-center">
            <a href="pages_about" class="btn style-2 btn-big"><span>Our Story</span><span class="icon material-icons">
                arrow_forward_ios </span></a>
            <a href="pages_donate.html" class="btn btn-big"><span>Donate</span> <i class="icon"><img
                  src="charity_icons_svg/heart.svg" alt="" /></i></a>
          </div> -->
        </div>
      </div>
      <!-- Laulima Statement End -->


      <!-- FAQ -->
      <div class="mad-section content-element-main no-pd">
        <div class="mad-entities mad-reversed no-bg type-4">
          <article class="mad-entity">
            <div class="mad-entity-media">
              <img src="/images/content/volunteer/GIU AMA 206-09.jpg" alt="" />
            </div>
            <div class="mad-entity-content">
              <div class="content-element-6">
                <div class="mad-pre-title">FUN AND REWARDING</div>
                <h2 class="mad-title">Get Started Volunteering</h2>
              </div>
              <!--================ Accordion ================-->
              <dl role="presentation" class="mad-panels mad-panels--accordion">
                <dt class="mad-panels-title mad-panels-active">
                  <button id="panel-7-button" type="button" aria-expanded="false" aria-controls="panel-7"
                    aria-disabled="false"> Step 1. Contact Us
                  </button>
                </dt>
                <dd id="panel-7" class="mad-panels-definition">
                  <p> We appreciate your interest in supporting our mission. To learn more about volunteer
                    opportunities, email us at <a href="mailto:info@haleanalalani.org" class="mad-link">info@haleanalalani.org</a>. We’ll be
                    happy to provide more information about current opportunities and how you can get involved.
                  </p>
                </dd>
                <!-- <dt class="mad-panels-title">
                  <button id="panel-9-button" type="button" aria-expanded="false" aria-controls="panel-9"
                    aria-disabled="false"> What does volunteering
                    involve? </button>
                </dt>
                <dd id="panel-9" class="mad-panels-definition">
                  <p> Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec
                    porta diam eu massa.
                    Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede.
                    Donec eget tellus non
                    erat lacinia fermentum. Proin dictum elementum velit. </p>
                </dd> -->
                <dt class="mad-panels-title">
                  <button id="panel-9-button" type="button" aria-expanded="false" aria-controls="panel-9"
                    aria-disabled="false">What are other ways I can help?</button>
                </dt>
                <dd id="panel-9" class="mad-panels-definition">
                  <p>The most impactful ways to help include volunteering your time, making monetary donations, and spreading awareness about our mission. <a href="/donate" class="mad-link">Donate here</a>.</p>
                </dd>
              </dl>
              <!--================ End of Accordion ================-->
            </div>
          </article>
        </div>
      </div>
      <!-- FAQ End -->



      <!--================ Footer ================-->
      {% include 'footer.html' %}
      <!--================ End of Footer ================-->

    </div>
    <script src="/vendors/modernizr.js"></script>
    <script src="/vendors/jquery-3.6.0.min.js"></script>
    <script src="/vendors/jquery.easing.1.3.min.js"></script>
    <script src="/vendors/monkeysan.jquery.nav.1.0.js"></script>
    <script src="/vendors/monkeysan.validator.min.js"></script>
    <script src="/vendors/monkeysan.tabs.min.js"></script>
    <script src="/vendors/monkeysan.accordion.js"></script>
    <script src="/vendors/handlebars-v4.0.5.min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
    <script src="/vendors/retina.min.js"></script>
    <script src="/vendors/mad.customselect.js"></script>
    <script src="/vendors/fancybox/jquery.fancybox.min.js"></script>
    <script src="/js/modules/mad.alert-box.min.js"></script>
    <script src="/js/modules/mad.newsletter-form.min.js"></script>
    <script src="/js/modules/mad.sticky-header-section.min.js"></script>
    <script src="/js/mad.app.js"></script>

</body>

</html>